<div class="row">
  <div class="col-sm-12 px-4">
    <h3 class="font-weight-bold text-primary text-right mb-3">Create Plan</h3>
    <hr class="mb-3" />
    
    <!-- Response Message -->
    <ng-container *ngIf="(responseMessage$ | async) as responseMessage">
      <sn-alert
          [@showHide]
          snType="info"
          [snTitle]="responseMessage.status"
          [snMessage]="responseMessage.message">
      </sn-alert>
    </ng-container>


    <form [formGroup]="form" (ngSubmit)="submit(form.value)" novalidate>
      <sn-admin-plans-form></sn-admin-plans-form>
      <div class="form-group text-right">
        <button role="button" type="submit" class="btn btn-primary mr-2" [disabled]="!form.valid">Save Plan</button>
        <button role="button" type="button" class="btn btn-secondary" (click)="close()">Close</button>
      </div>
    </form>
  </div>
</div>
