<sn-user-layout [@fadeAnimation] [defaultState]="LayoutSidePanelState.COLLAPSE">
  <div container="sidePanel">
    <sn-user-navbar-side></sn-user-navbar-side>
  </div>
  <div container="navigationBar">
    <sn-user-navigation></sn-user-navigation>
    <sn-user-global-toolbar></sn-user-global-toolbar>
  </div>
  <div container="mainContent">
    <router-outlet></router-outlet>
  </div>
</sn-user-layout>

<sn-user-overlay-loader
    [overlayStyle]="OverlayLoaderStyle.DIM_LIGHT"
    [spinnerSize]="OverlaySpinnerSize.SMALL">
</sn-user-overlay-loader>
