<div *ngIf="!topics || topics.length === 0" class="topics-no-data p-4 border-b">
  <sn-empty-data 
      message="No topics found!"
      [extraContent]="createNewButton">
  </sn-empty-data>
  <ng-template #createNewButton>
    <a (click)="create($event)" class="bg-white border border-primary-500 mt-4 py-2 px-4 hover:bg-primary-500 hover:text-white transition-colors rounded-full text-primary-500 font-semibold mb-2">Create a topic</a>
  </ng-template>
</div>
<ng-container *ngIf="topics">
  <div *ngFor="let topic of topics" class="border-b p-4">
    <div class="list-details">
      <div class="list-details-title">
        <h5 class="text-primary-500 p-0 m-0 mb-2">
          <a class="hover:text-primary-700" [routerLink]="['../', topic.id, 'details']">{{ topic.title }}</a>
        </h5>
        <div class="action-buttons">
          <a class="text-primary-500 hover:text-primary-700 transition-colors me-1" [routerLink]="['../', topic.id, 'details']">
            <ng-icon name="heroEye" size="1rem"></ng-icon>
          </a>
          <button 
              mwlConfirmationPopover
              placement="left"
              (confirm)="delete(topic.id)"
              role="button" 
              class="text-primary-500 hover:text-primary-700 transition-colors me-3">
            <ng-icon name="heroTrash" size="1rem"></ng-icon>
          </button>
        </div>
      </div>
      <p class="list-details-description text-gray-600 italic text-xs p-0 m-0">{{ topic.synopsis }}</p>
      <hr class="my-1" />
      <p class="list-details-timestamp text-gray-500 mb-0 flex items-center"><ng-icon name="heroClock" size="0.8rem"></ng-icon>&nbsp;&nbsp; {{ topic.updatedAt | date:'medium' }}</p>
    </div>
  </div>
</ng-container>
