<div [@fadeAnimation] [formGroup]="form.get('profile')">
  
  <!-- First & Last Name Inputs -->
  <div class="flex flex-row gap-4 mb-3">
    <div class="flex flex-col justify-center grow w-1/2">
      <label class="text-gray-500 text-xs mb-1 ps-1" for="firstName">First Name</label>
      <input 
          class="border py-2 px-4 rounded-full text-sm focus:outline-none focus:border-gray-400 text-gray-700" 
          formControlName="firstName" 
          name="firstName" 
          type="text" 
          id="firstName" 
          autocomplete="off"
          [ngClass]="{ 'is-invalid':!form.get('profile').get('firstName').valid && form.get('profile').get('firstName').touched  }">
      <small 
          class="text-danger text-bold" 
          *ngIf="
            form.get('profile').get('firstName').touched  
            && form.get('profile').get('firstName').hasError('required')">
        First name is required!
      </small>
      <small 
          class="text-danger text-bold" 
          *ngIf="
            form.get('profile').get('firstName').touched  
            && form.get('profile').get('firstName').hasError('minlength')">
        First name must be 3 characters!
      </small>
      <small 
          class="text-danger text-bold" 
          *ngIf="
            form.get('profile').get('firstName').touched  
            && form.get('profile').get('firstName').hasError('pattern')">
        First name must be only characters!
      </small>
      
    </div>
    <div class="flex flex-col justify-center grow w-1/2">
      <label class="text-gray-500 text-xs mb-1 ps-1" for="lastName">Last Name</label>
      <input 
          class="border py-2 px-4 rounded-full text-sm focus:outline-none focus:border-gray-400 text-gray-700" 
          formControlName="lastName" 
          name="lastName" 
          type="text" 
          id="lastName" 
          autocomplete="off"
          [ngClass]="{ 'is-invalid':!form.get('profile').get('lastName').valid && form.get('profile').get('lastName').touched  }">
      <small 
          class="text-danger text-bold" 
          *ngIf="
            form.get('profile').get('lastName').touched  
            && form.get('profile').get('lastName').hasError('required')">
        Last name is required!
      </small>
      <small 
          class="text-danger text-bold" 
          *ngIf="
            form.get('profile').get('lastName').touched  
            && form.get('profile').get('lastName').hasError('minlength')">
        Last name must be 3 characters!
      </small>
      <small 
          class="text-danger text-bold" 
          *ngIf="
            form.get('profile').get('lastName').touched  
            && form.get('profile').get('lastName').hasError('pattern')">
        Last name must be only characters!
      </small>
    </div>
  </div>

  <!-- Address Form -->
  <ng-container [formGroup]="form.get('profile').get('address')">
    <!-- Street Input -->
    <div class="flex flex-col justify-center grow w-full mb-3">
      <label class="text-gray-500 text-xs mb-1 ps-1" for="street">Street</label>
      <input 
          class="border py-2 px-4 rounded-full text-sm focus:outline-none focus:border-gray-400 text-gray-700" 
          formControlName="street" 
          name="street" 
          type="text" 
          id="street" 
          autocomplete="off"
          [ngClass]="{ 'is-invalid':!form?.get('profile')?.get('address')?.get('street')?.valid && form?.get('address')?.get('street')?.touched  }">
      <small 
          class="text-danger text-bold" 
          *ngIf="
            form.get('profile').get('address').get('street').touched  
            && form.get('profile').get('address').get('street').hasError('required')">
        Street is required!
      </small>
    </div>

    <!-- Street 2 Input -->
    <div class="flex flex-col justify-center grow w-full mb-3">
      <label class="text-gray-500 text-xs mb-1 ps-1" for="street2">Street 2</label>
      <input 
          class="border py-2 px-4 rounded-full text-sm focus:outline-none focus:border-gray-400 text-gray-700" 
          formControlName="street2" 
          name="street2" 
          type="text" 
          id="street2" 
          autocomplete="off">
    </div>
    
    <!-- City, State Zip Inputs-->
    <div class="flex flex-row gap-2 mb-3">
      <!-- City -->
      <div class="flex flex-col justify-center grow w-1/3">
        <label class="text-gray-500 text-xs mb-1 ps-1" for="city">City</label>
        <input 
            class="border py-2 px-4 rounded-full text-sm focus:outline-none focus:border-gray-400 text-gray-700" 
            formControlName="city" 
            name="city" 
            type="text" 
            id="city" 
            autocomplete="off"
            [ngClass]="{ 'is-invalid':!form?.get('profile')?.get('address')?.get('city')?.valid && form?.get('address')?.get('city')?.touched  }">
        <small 
            class="text-danger text-bold" 
            *ngIf="
              form.get('profile').get('address').get('city').touched  
              && form.get('profile').get('address').get('city').hasError('required')">
          City is required!
        </small>
      </div>

      <!-- State -->
      <div class="flex flex-col justify-center grow w-1/3">
        <label class="text-gray-500 text-xs mb-1 ps-1" for="state">State</label>
        <select 
            class="border py-2 px-4 bg-white rounded-full text-sm focus:outline-none focus:border-gray-400 text-gray-700" 
            formControlName="state" 
            name="state" 
            id="state" 
            autocomplete="off"
            [ngClass]="{ 'is-invalid':!form?.get('profile')?.get('address')?.get('state')?.valid && form?.get('address')?.get('state')?.touched  }">
          <option
              *ngFor="let state of states"
              [value]="state.abbr">
            {{ state.abbr }}
          </option>
        </select>
        <small 
            class="text-danger text-bold" 
            *ngIf="
              form.get('profile').get('address').get('state').touched  
              && form.get('profile').get('address').get('state').hasError('required')">
          State is required!
        </small>
      </div>

      <!-- Zip -->
      <div class="flex flex-col justify-center grow w-1/3">
        <label class="text-gray-500 text-xs mb-1 ps-1" nzSpan="24" nzFor="zip">Zip</label>
        <input 
            class="border py-2 px-4 rounded-full text-sm focus:outline-none focus:border-gray-400 text-gray-700" 
            formControlName="zip" 
            name="zip" 
            type="text" 
            id="zip" 
            autocomplete="off"
            [ngClass]="{ 'is-invalid':!form?.get('profile')?.get('address')?.get('zip')?.valid && form?.get('address')?.get('zip')?.touched  }">
        <small 
            class="text-danger text-bold" 
            *ngIf="
              form.get('profile').get('address').get('zip').touched  
              && form.get('profile').get('address').get('zip').hasError('required')">
          Zip is required!
        </small>
      </div>
    </div>
  </ng-container>
  
</div>
