.theme-swatch-blue {
  background: $blue;
}

.theme-swatch-cyan {
  background: $cyan;
}

.theme-swatch-green {
  background: $green;
}

.theme-swatch-indigo {
  background: $indigo;
}

.theme-swatch-orange {
  background: $orange;
}

.theme-swatch-pink {
  background: $pink;
}

.theme-swatch-purple {
  background: $purple;
}

.theme-swatch-red {
  background: $red;
}
.theme-swatch-teal {
  background: $teal;
}

.theme-swatch-yellow {
  background: $yellow;
}
