<div class="document-builder-section-container">
  <div class="document-builder-section-container-title">
    <h5 class="text-gray-700 font-bold text-md">{{ documentTopicSection?.section?.title || '' }}</h5>
    <div class="document-builder-section-container-actions mt-1">
      <span class="text-gray-700" cdkDragHandle>
        <ng-icon name="heroArrowsPointingOut" size="1.25rem"></ng-icon>
      </span>
    </div>
  </div>
  <p class="text-gray-500 italic text-xs">{{ documentTopicSection?.section?.synopsis || '' }}</p>
</div>
