<div class="p-4">
  <h3 class="font-bold text-primary-500 text-right text-2xl mb-3">Update Flashcard Set</h3>
  <hr class="mb-3" />

  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <!-- Response Message -->
    <ng-container *ngIf="(responseMessage$ | async) as responseMessage">
      <sn-alert
          [@showHide]
          snColor="info"
          [snTitle]="responseMessage.status"
          [snMessage]="responseMessage.message">
      </sn-alert>
    </ng-container>


    <sn-user-flashcard-set-builder-form></sn-user-flashcard-set-builder-form>
    
    <div class="flex flex-row gap-1 items-center justify-end">
      <sn-button (click)="onSubmit(form.value)"> 
        Save Flashcard Set
      </sn-button>
      <sn-button 
          snType="outline"
          (click)="onClose()">
        Cancel
      </sn-button>
    </div>
  </form>
</div>
