<div class="row">
  <div class="col-sm-12 px-4">
    <div *ngIf="todoList">
      <h3 class="font-weight-bold text-primary text-right mb-3">Todo List Details</h3>
      <hr />
      <!-- Response Message -->
      <div *ngIf="responseMessage" [@showHide] class="alert alert-success">
        <span>
          <strong>{{ responseMessage?.status | uppercase }}</strong>: {{ responseMessage?.message }}
        </span>
      </div>
      
      <h4 class="font-weight-bold text-dark mb-2">{{ todoList?.title }}</h4>

      <ul class="list-unstyled mb-4 list-style-none">
        <li class="text-dark mb-3">
          <div>
            <i style="width: 1rem;" class="far fa-calendar-alt icon-margin"></i>
            <span class="font-italic"> {{ todoList?.startedBy | date: 'MM/dd/yyyy hh:mm a' }} - {{ todoList?.completedBy | date: 'MM/dd/yyyy hh:mm a' }}</span>
          </div>
        </li>
        <li>
          <sn-user-todo-list-progress [todoList]="form?.value"></sn-user-todo-list-progress>
        </li>     
      </ul>
      <form [formGroup]="form" novalidate>
        <div class="form-group" formArrayName="todos">
          <ng-container *ngFor="let todoControl of form.get('todos')['controls']">
            <div [formGroup]="todoControl">
              <sn-user-checkbox
                shape="rounded"
                color="primary"
                size="xsmall"
                formControlName="isComplete"
                [value]="todoControl?.value?.isComplete"
                [label]="todoControl?.value?.description">
              </sn-user-checkbox>
            </div>
          </ng-container>
        </div>
      </form>
    </div>
  </div>
</div>
