<div class="account-settings-general p-3" [@fadeAnimation]>
  <h4 class="font-weight-bold mb-3">
    <span *ngIf="isEditingProfile">Editing</span> Profile
    <span
        *ngIf="!isEditingProfile" 
        (click)="onEditingProfile(true)"
        class="btn btn-sm btn-outline-primary btn-border-none float-right">
      <i class="fas fa-edit icon-margin"></i>
      Edit
    </span>
  </h4>
  <hr />
  <div class="card calendar-integration-container">
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onUpdateProfile(form.value)" novalidate>
        <ng-container *ngIf="isEditingProfile; else displayProfile">
          <div id="edit-profile-form">
            <sn-user-account-details-form
                (onEditingComplete)="onEditingComplete($event)">
            </sn-user-account-details-form>
            <div class="form-group mt-2">
              <button class="btn btn-primary mr-2" type="submit">Save</button>
              <button class="btn btn-secondary" type="button" (click)="onEditingProfile(false)">Cancel</button>
            </div>
          </div>
        </ng-container>
        <ng-template #displayProfile>
          <sn-user-account-details-display
              [profile]="(accountProfile$ | async)">
          </sn-user-account-details-display>
        </ng-template>
      </form>
    </div>
  </div>

  <h4 class="font-weight-bold mt-4 mb-3">Theme</h4>
  <hr />
  <div class="card p-3">
    <label>Select a color theme:</label>
    <div class="themes-container">
      <ng-container *ngFor="let theme of themes$ | async">
        <div class="theme-swatch" [ngClass]="theme.cssClassName" [class.selected]="(userSettings$ | async)?.theme?.id === theme.id" (click)="onChangeTheme(theme)">
          <ng-container *ngIf="(userSettings$ | async)?.theme?.id == theme.id">
            <i class="fas fa-check" [@fadeAnimation]></i>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>