<div class="p-4" [@fadeAnimation]>
  <div class="flex flex-row justify-between items-center mb-2">
    <h4 class="font-bold text-gray-700 text-lg">
      <span *ngIf="isEditingProfile">Editing</span> Profile 
    </h4>
    <span
        *ngIf="!isEditingProfile" 
        (click)="onEditingProfile(true)"
        class="flex items-center text-primary-500 text-xs px-4 py-2 border border-primary-500 rounded-full cursor-pointer transition-colors">
      <ng-icon name="heroPencil" size="0.8rem"></ng-icon>
      &nbsp;&nbsp;Edit
    </span>
  </div>
  
  <hr class="mb-4"/>

  <div class="border rounded-xl bg-white p-4 mb-4">
    <form [formGroup]="form" (ngSubmit)="onUpdateProfile(form.value)" novalidate>
      <ng-container *ngIf="isEditingProfile; else displayProfile">
        <div id="edit-profile-form">
          <sn-user-account-details-form
              (onEditingComplete)="onEditingComplete($event)">
          </sn-user-account-details-form>
          <div class="flex flex-row gap-1 justify-end items-center mt-4">
            <sn-button (click)="onUpdateProfile(form.value)">
              Save
            </sn-button>
            <sn-button snType="outline" (click)="onEditingProfile(false)">
              Cancel
            </sn-button>
          </div>
        </div>
      </ng-container>
      <ng-template #displayProfile>
        <sn-user-account-details-display
            [profile]="(accountProfile$ | async)">
        </sn-user-account-details-display>
      </ng-template>
    </form>
  </div>
</div>