<div class="container-navbar-adjust container" [@fadeAnimation]>

  <div class="row">
    <div class="col-sm-12">
      <sn-page-header
          [heading]="'Current Documents'">
      </sn-page-header>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <div *ngIf="(searchDocumentsResult$ | async) || []" class="card">
        <!-- <div class="card-header">Current Topics</div> -->
        <div class="card-body">
          <h5 class="m-0 p-0 topic-list-heading">
            Documents 
            <!-- Header Buttons -->
            <span class="float-right">
              <sn-debounced-search
                  debounceTime="500"
                  [isSearching]="isSearching"
                  (onSearch)="onSearchDocuments($event)">
              </sn-debounced-search>
            </span>
          </h5>
          <sn-document-list
              [documents]="(searchDocumentsResult$ | async)?.elements"
              (onDelete)="onDelete($event)"
              (onView)="onView($event)">
          </sn-document-list>
          <sn-paginator
              [page]="(searchDocumentsResult$ | async)"
              (onNextPage)="onGoToPage($event)"
              (onPreviousPage)="onGoToPage($event)"
              (onGoToPage)="onGoToPage($event)">
          </sn-paginator>
        </div>
      </div>

    </div>
  </div> 
</div>

<sn-drawer
    [drawerLocation]="DrawerLocation.RIGHT">
</sn-drawer>
