<form [formGroup]="form" novalidate>
  <div class="form-group" formArrayName="todos">
    <ng-container *ngFor="let todoControl of form.get('todos')['controls']">
      <div [formGroup]="todoControl">
        <sn-checkbox
            color="primary"
            size="xsmall"
            shape="rounded"
            formControlName="isComplete"
            [value]="todoControl?.value?.isComplete"
            [label]="todoControl?.value?.description">
        </sn-checkbox>
      </div>
    </ng-container>
  </div>
</form>
