<div *ngIf="(topic$ | async)" [@fadeAnimation] class="container-navbar-adjust container">
  <div class="row">

    <!-- Topic Details List -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mb-4">
      <ul class="list-group">
        <li class="list-group-item bg-secondary topic-details-heading">
          <legend>{{ (topic$ | async).title }}</legend>
          <p>{{ (topic$ | async).synopsis }}</p>
          <button (click)="onUpdateTopic()" role="button" class="topic-details-edit-button btn btn-sm btn-secondary btn-border-none">
            <i class="fas fa-info-circle icon-margin"></i>
          </button>
        </li>
        <li class="list-group-item">
          Created: <span class="float-sm-right badge badge-dark">{{ (topic$ | async).createdAt | date:short }}</span>
        </li>
        <li class="list-group-item">
          Modified: <span class="float-sm-right badge badge-dark">{{ (topic$ | async).updatedAt| date:short }}</span>
        </li>
      </ul>
    </div>

    <!-- Sections List -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
      <!-- Section Table -->
      <div  class="card">
        <div class="card-body">
          <h5>
            Sections
            <!-- Header Buttons -->
            <span class="float-right">
              <button [routerLink]="['../sections', 'create']" role="button" class="btn btn-sm btn-outline-dark btn-border-none">
                <i class="far fa-file-alt icon-margin"></i>
                New
              </button>
              <button role="button" class="btn btn-sm btn-outline-dark btn-border-none" (click)="onOpenExportTopic()">
                <i class="fas fa-download icon-margin"></i>
                Export
              </button>
            </span>
            <span class="float-right" style="margin-top: -0.5rem;">
              <sn-debounced-search
                  style="display: inline"
                  debounceTime="500"
                  (onSearch)="onSearchSections($event)">
              </sn-debounced-search>
            </span>
          </h5>
          <sn-section-list
              [sections]="(searchSectionsResult$ | async)?.elements"
              (onDelete)="onDeleteSection($event)">
          </sn-section-list>
          <sn-paginator
              [page]="(searchSectionsResult$ | async)"
              (onNextPage)="onGoToPage($event)"
              (onPreviousPage)="onGoToPage($event)"
              (onGoToPage)="onGoToPage($event)">
          </sn-paginator>
        </div>
      </div>
    </div>
  </div>
</div>

<sn-drawer
    [drawerLocation]="DrawerLocation.RIGHT">
</sn-drawer>
