.debounced-search {
  background: white;
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .debounced-search-input {
    border: none;
    background: none;
    outline: 0;
    padding: 0px;
    color: black;
    transition: 0.4s;
    font-size: 1rem;
    width: 0px;
    height: 28px;
  }

  &.show {
    > .debounced-search-input {
      width: 240px;
      border-bottom: 1px solid lightgray;
      margin-left: 1rem;
    }
    > .debounced-search-icon {
      color: #555;
      background: none;
    }
  }
}

@media only screen and (max-width : 576px) {
  .debounced-search {
    &:hover {
      > .debounced-search-input {
        width: 150px;
      }
    }
  }
}