<div class="debounced-search" [ngClass]="{ 'show' : isInputShown }">
  <span class="debounced-search-spinner" *ngIf="isSearching" [fadeAnimation]>
    <sn-spinner isSpinning="true"></sn-spinner>
  </span>
  <input class="debounced-search-input" type="text" [(ngModel)]="searchTerm" (keyup)="onSearchInputKeyUp($event)" />
  <div class="btn btn-sm btn-outline-dark btn-border-none debounced-search-icon" (click)="onToggleSearchInput()">
    <span class="oi oi-magnifying-glass"></span>
    Search
  </div>
</div>