<div [formGroup]="form.get('address')">
  <!-- Street Input -->
  <div class="flex flex-col w-full justify-center mb-3">
    <label class="text-gray-500 text-xs mb-1 ps-1" for="street">Street</label>
    <input 
        class="border py-2 px-4 bg-white rounded-full text-sm focus:outline-none focus:border-gray-400 text-gray-700"
        formControlName="street" 
        name="street" 
        type="text" 
        id="street" 
        autocomplete="off"
        [ngClass]="{ 'is-invalid':!form.get('address').get('street').valid && form.get('address').get('street').touched  }">
    <small 
        class="text-danger-500 text-xs ps-2 text-bold" 
        *ngIf="
          form.get('address').get('street').touched  
          && form.get('address').get('street').hasError('required')">
      Street is required!
    </small>
  </div>

  <!-- Street 2 Input -->
  <div class="flex flex-col w-full justify-center mb-3">
    <label class="text-gray-500 text-xs mb-1 ps-1" for="street2">Street 2</label>
    <input 
        class="border py-2 px-4 bg-white rounded-full text-sm focus:outline-none focus:border-gray-400 text-gray-700" 
        formControlName="street2" 
        name="street2" 
        type="text" 
        id="street2" 
        autocomplete="off">
  </div>
  
  <!-- City Input -->
  
  <div class="flex flex-col w-full justify-center mb-3">
    <label class="text-gray-500 text-xs mb-1 ps-1" for="city">City</label>
    <input 
        class="border py-2 px-4 bg-white rounded-full text-sm focus:outline-none focus:border-gray-400 text-gray-700"
        formControlName="city" 
        name="city" 
        type="text" 
        id="city" 
        autocomplete="off"
        [ngClass]="{ 'is-invalid':!form.get('address').get('city').valid && form.get('address').get('city').touched  }">
    <small 
        class="text-danger-500 text-xs ps-2 text-bold" 
        *ngIf="
          form.get('address').get('city').touched  
          && form.get('address').get('city').hasError('required')">
      City is required!
    </small>
  </div>

  <!-- State, Zip Inputs -->
  <div class="flex flex-row items-center gap-1">
    <div class=" flex flex-col w-full justify-center mb-3">
      <label class="text-gray-500 text-xs mb-1 ps-1" for="state">State</label>
      <select 
          class="border py-2 px-4 bg-white rounded-full text-sm focus:outline-none focus:border-gray-400 text-gray-700" 
          formControlName="state" 
          name="state" 
          id="state" 
          autocomplete="off"
          [ngClass]="{ 'is-invalid':!form.get('address').get('state').valid && form.get('address').get('state').touched  }">
        <option
            *ngFor="let state of states"
            [value]="state.abbr">
          {{ state.abbr }}
        </option>
      </select>
      <small 
          class="text-danger-500 text-xs ps-2 text-bold" 
          *ngIf="
            form.get('address').get('state').touched  
            && form.get('address').get('state').hasError('required')">
        State is required!
      </small>
    </div>

    <div class="flex flex-col w-full justify-center mb-3">
      <label class="text-gray-500 text-xs mb-1 ps-1" nzSpan="24" nzFor="zip">Zip</label>
      <input 
          class="border py-2 px-4 bg-white rounded-full text-sm focus:outline-none focus:border-gray-400 text-gray-700" 
          formControlName="zip" 
          name="zip" 
          type="text" 
          id="zip" 
          autocomplete="off"
          [ngClass]="{ 'is-invalid':!form.get('address').get('zip').valid && form.get('address').get('zip').touched  }">
      <small 
          class="text-danger-500 text-xs ps-2 text-bold" 
          *ngIf="
            form.get('address').get('zip').touched  
            && form.get('address').get('zip').hasError('required')">
        Zip is required!
      </small>
    </div>
  </div>

</div>
