<div [formGroup]="form.get('address')">
  <!-- Street Input -->
  <sn-form-group snExtraClasses="mb-3">
    <label sn-form-label for="street">Street</label>
    <input 
        sn-form-control
        formControlName="street" 
        name="street" 
        type="text" 
        id="street" 
        autocomplete="off"
        [ngClass]="{ 'is-invalid':!form.get('address').get('street').valid && form.get('address').get('street').touched  }">
    <small 
        sn-form-control-error
        *ngIf="
          form.get('address').get('street').touched  
          && form.get('address').get('street').hasError('required')">
      Street is required!
    </small>
  </sn-form-group>

  <!-- Street 2 Input -->
  <sn-form-group snExtraClasses="mb-3">
    <label sn-form-label for="street2">Street 2</label>
    <input 
        sn-form-control
        formControlName="street2" 
        name="street2" 
        type="text" 
        id="street2" 
        autocomplete="off">
  </sn-form-group>
  
  <!-- City Input -->
  <sn-form-group snExtraClasses="mb-3">
    <label sn-form-label for="city">City</label>
    <input 
        sn-form-control
        formControlName="city" 
        name="city" 
        type="text" 
        id="city" 
        autocomplete="off"
        [ngClass]="{ 'is-invalid':!form.get('address').get('city').valid && form.get('address').get('city').touched  }">
    <small 
        sn-form-control-error
        *ngIf="
          form.get('address').get('city').touched  
          && form.get('address').get('city').hasError('required')">
      City is required!
    </small>
  </sn-form-group>

  <!-- State, Zip Inputs -->
  <div class="flex flex-row items-start gap-2 mb-3">
    <sn-form-group>
      <label sn-form-label for="state">State</label>
      <select 
          sn-form-control 
          formControlName="state" 
          name="state" 
          id="state" 
          autocomplete="off"
          [ngClass]="{ 'is-invalid':!form.get('address').get('state').valid && form.get('address').get('state').touched  }">
        <option
            *ngFor="let state of states"
            [value]="state.abbr">
          {{ state.abbr }}
        </option>
      </select>
      <small 
          sn-form-control-error
          *ngIf="
            form.get('address').get('state').touched  
            && form.get('address').get('state').hasError('required')">
        State is required!
      </small>
    </sn-form-group>

    <sn-form-group>
      <label sn-form-label nzSpan="24" nzFor="zip">Zip</label>
      <input 
          sn-form-control
          formControlName="zip" 
          name="zip" 
          type="text" 
          id="zip" 
          autocomplete="off"
          [ngClass]="{ 'is-invalid':!form.get('address').get('zip').valid && form.get('address').get('zip').touched  }">
      <small 
          sn-form-control-error
          *ngIf="
            form.get('address').get('zip').touched  
            && form.get('address').get('zip').hasError('required')">
        Zip is required!
      </small>
    </sn-form-group>
  </div>

</div>
