<ng-container [formGroup]="form.get('user')">
  <!-- Username Input -->
  <div class="flex flex-col w-full justify-center mb-3">
    <label class="text-gray-500 text-xs mb-1 ps-1" for="username">Username</label>
    <input 
        class="border py-2 px-4 bg-white rounded-full text-sm focus:outline-none focus:border-gray-400 text-gray-700"
        formControlName="username" 
        name="username" 
        type="text" 
        id="username" 
        autocomplete="off"
        [ngClass]="{ 'is-invalid':!form.get('user').get('username').valid && form.get('user').get('username').touched  }">
    <small 
        class="text-danger-500 text-xs ps-2 text-bold" 
        *ngIf="
          form.get('user').get('username').touched  
          && form.get('user').get('username').hasError('required')">
      Username is required!
    </small>
    <small 
        class="text-danger-500 text-xs ps-2 text-bold"
        *ngIf="
          form.get('user').get('username').touched
          && form.get('user').get('username').hasError('usernameExists')">
      Username already exists!
    </small>
  </div>

  <!-- Password Input -->
  <div class="flex flex-col w-full justify-center mb-3">
    <label class="text-gray-500 text-xs mb-1 ps-1" for="password">Password</label>
    <input 
        class="border py-2 px-4 bg-white rounded-full text-sm focus:outline-none focus:border-gray-400 text-gray-700"
        formControlName="password" 
        name="password" 
        type="password" 
        id="password"
        [ngClass]="{ 'is-invalid':!form.get('user').get('password').valid && form.get('user').get('password').touched  }">
    <small 
        class="text-danger-500 text-xs ps-2 text-bold"  
        *ngIf="
          form.get('user').get('password').touched  
          && form.get('user').get('password').hasError('required')">
      Password is required!
    </small>
    <small 
        class="text-danger-500 text-xs ps-2 text-bold" 
        *ngIf="
          form.get('user').get('password').touched  
          && form.get('user').get('password').hasError('minlength')">
      Password must be 8 characters!
    </small>
  </div>

  <!-- Password Confirm Input -->
  <div class="flex flex-col w-full justify-center mb-3">
    <label class="text-gray-500 text-xs mb-1 ps-1" for="passwordConfirm">Confirm Password</label>
    <input 
        class="border py-2 px-4 bg-white rounded-full text-sm focus:outline-none focus:border-gray-400 text-gray-700"
        formControlName="passwordConfirm" 
        name="passwordConfirm" 
        type="password" 
        id="passwordConfirm"
        [ngClass]="{ 'is-invalid':!form.get('user').get('passwordConfirm').valid && form.get('user').get('passwordConfirm').touched  }">
    <small 
        class="text-danger-500 text-xs ps-2 text-bold"  
        *ngIf="
          form.get('user').get('passwordConfirm').touched  
          && form.get('user').get('passwordConfirm').hasError('required')">
      Password confirmation is required!
    </small>
    <small 
        class="text-danger-500 text-xs ps-2 text-bold"  
        *ngIf="
          form.get('user').get('passwordConfirm').touched  
          && form.get('user').get('passwordConfirm').hasError('mustMatch')">
      Password & Confirmation must match!
    </small>
  </div>
</ng-container>
