<ng-container [formGroup]="form.get('user')">
  <!-- Username Input -->
  <sn-form-group snExtraClasses="mb-3">
    <label sn-form-label for="username">Username</label>
    <input 
        sn-form-control
        formControlName="username" 
        name="username" 
        type="text" 
        id="username" 
        autocomplete="off"
        [ngClass]="{ 'is-invalid':!form.get('user').get('username').valid && form.get('user').get('username').touched  }">
    <small 
        sn-form-control-error
        *ngIf="
          form.get('user').get('username').touched  
          && form.get('user').get('username').hasError('required')">
      Username is required!
    </small>
    <small 
        sn-form-control-error
        *ngIf="
          form.get('user').get('username').touched
          && form.get('user').get('username').hasError('usernameExists')">
      Username already exists!
    </small>
  </sn-form-group>

  <!-- Password Input -->
  <sn-form-group snExtraClasses="mb-3">
    <label class="text-gray-500 text-xs mb-1 ps-1" for="password">Password</label>
    <input 
        sn-form-control
        formControlName="password" 
        name="password" 
        type="password" 
        id="password"
        [ngClass]="{ 'is-invalid':!form.get('user').get('password').valid && form.get('user').get('password').touched  }">
    <small 
        sn-form-control-error
        *ngIf="
          form.get('user').get('password').touched  
          && form.get('user').get('password').hasError('required')">
      Password is required!
    </small>
    <small 
        sn-form-control-error
        *ngIf="
          form.get('user').get('password').touched  
          && form.get('user').get('password').hasError('minlength')">
      Password must be 8 characters!
    </small>
  </sn-form-group>

  <!-- Password Confirm Input -->
  <sn-form-group snExtraClasses="mb-3">
    <label class="text-gray-500 text-xs mb-1 ps-1" for="passwordConfirm">Confirm Password</label>
    <input 
        sn-form-control
        formControlName="passwordConfirm" 
        name="passwordConfirm" 
        type="password" 
        id="passwordConfirm"
        [ngClass]="{ 'is-invalid':!form.get('user').get('passwordConfirm').valid && form.get('user').get('passwordConfirm').touched  }">
    <small 
        sn-form-control-error
        *ngIf="
          form.get('user').get('passwordConfirm').touched  
          && form.get('user').get('passwordConfirm').hasError('required')">
      Password confirmation is required!
    </small>
    <small 
        sn-form-control-error
        *ngIf="
          form.get('user').get('passwordConfirm').touched  
          && form.get('user').get('passwordConfirm').hasError('mustMatch')">
      Password & Confirmation must match!
    </small>
  </sn-form-group>
</ng-container>
