// @import '../_shared/scss/variables';
// @import '../_shared/scss/mixins';

.overlay-side-panel {
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;

    &.overlay-style-transparent {
      background: transparent;
    }

    &.overlay-style-dim-dark {
      background: rgba(#000, 0.3);
    }

    &.overlay-style-dim-light {
      background: rgba(#FFF, 0.5);
    }
  }
  
  .side-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 450px;
    background: #FFF;
    overflow-y: auto;
    z-index: 2001;
    display: flex;
    flex-direction: column; 

    .close {
      line-height: 1rem;
      font-size: 1rem;
      text-align: right;
      
      span {
        cursor: pointer;
      }
    }
  }

  .side-panel-right {
    right: 0;
    margin-right: 0;
    transition: margin-right 0.3s;
  }

  .side-panel-left {
    left: 0;
    margin-left: 0;
    transition: margin-left 0.3s; 
  }

  &.collapsed {
    .side-panel-right {
      margin-right: -450px;
    }

    .side-panel-left {
      margin-left: -450px;
    }
  }
}


// THIS MIGHT NOW WORK SINCE MARGIN IS USED TO SLIE PANEL IN AND OUT????
.size-default {
  width: 450px;
}

.size-quarter {

}

.size-half {

}

.size-three-quarter {

}

@media screen and (max-width: 450px) {
  .overlay-side-panel {
    .side-panel {
      width: 100%;
    }
  }
}