<div 
    class="overlay-side-panel" 
    [class.collapsed]="!isDrawerVisible">
  <div class="overlay" [ngClass]="overlayStyle" 
      *ngIf="isDrawerVisible" [@fadeAnimation] (click)="close()">
  </div>
  <div class="side-panel shadow"
    [ngClass]="{ 
      'side-panel-right' : drawerLocation === DrawerLocation.RIGHT, 
      'side-panel-left' : drawerLocation === DrawerLocation.LEFT
    }">
    <div class="close text-dark p-4" (click)="close()">
      <i class="fas fa-times"></i>
    </div>
    <div class="content py-0 px-4">
      <ng-container #content></ng-container>
    </div>
  </div>
</div>