// @import '../_shared/scss/variables';
// @import '../_shared/scss/mixins';


.overlay-side-panel {
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;

    &.overlay-style-transparent {
      background: transparent;
    }

    &.overlay-style-dim-dark {
      background: rgba(#000, 0.3);
    }

    &.overlay-style-dim-light {
      background: rgba(#FFF, 0.5);
    }
  }
  
  .side-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    background: #FFF;
    overflow-y: auto;
    z-index: 2001;
    display: flex;
    flex-direction: column; 

    .close {
      line-height: 1rem;
      font-size: 1rem;
      text-align: right;
      
      span {
        cursor: pointer;
      }
    }

    &.size-default {
       width: 450px;
    }

    &.size-small {
      width: calc(100vw - (100vw * 0.75));
    }

    &.size-medium {
      width: calc(100vw - (100vw * 0.5));
    }

    &.size-large {
      width: calc(100vw - (100vw * 0.25));
    }

    &.size-full {
      width: 100vw;
    }
  }

  .side-panel-right {
    right: 0;
    margin-right: 0;
    transition: margin-right 0.3s;
  }

  .side-panel-left {
    left: 0;
    margin-left: 0;
    transition: margin-left 0.3s; 
  }

  &.collapsed {
    .side-panel-right {
      &.size-default {
        margin-right: -450px;
      }

      &.size-small {
        margin-right: calc((100vw - (100vw * 0.75)) * -1);
      }

      &.size-medium {
        margin-right: calc((100vw - (100vw * 0.5)) * -1);
      }

      &.size-large {
        margin-right: calc((100vw - (100vw * 0.25)) * -1);
      }

      &.size-full {
        margin-right: calc(100vw * -1);
      }
    }

    .side-panel-left {
      &.size-default {
        margin-left: -450px;
      }

      &.size-small {
        margin-left: calc((100vw - (100vw * 0.75)) * -1);
      }

      &.size-medium {
        margin-left: calc((100vw - (100vw * 0.5)) * -1);
      }

      &.size-large {
        margin-left: calc((100vw - (100vw * 0.25)) * -1);
      }

      &.size-full {
        margin-left: calc(100vw * -1);
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .overlay-side-panel {
    .side-panel {
      &.size-default,
      &.size-small,
      &.size-medium,
      &.size-large,
      &.size-full {
        width: 100%;
      }
    }

    &.collapsed {
      .side-panel-right {
        &.size-default,
        &.size-small,
        &.size-medium,
        &.size-large,
        &.size-full {
          margin-right: calc(100vw * -1);
        }
      }
    }
  }
}
