<div class="px-4">
  <sn-section-header 
      snTitle="Export Topic"
      snDirectionality="reverse"
      snSize="2xl"
      snExtraClasses="border-b mb-4">
  </sn-section-header>
  
  <!-- Response Message -->
  <ng-container *ngIf="(responseMessage$ | async) as responseMessage">
    <sn-alert
        [@showHide]
        snType="info"
        [snTitle]="responseMessage.status"
        [snMessage]="responseMessage.message">
    </sn-alert>
  </ng-container>

  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
    <sn-form-group snExtraClasses="mb-3">
      <label sn-form-label for="format">Export Format</label>
      <select 
          sn-form-control
          id="format" 
          name="format" 
          formControlName="format">
        <option value="pdf">PDF</option>
        <option value="html">HTML</option>
        <option value="markdown">Markdown</option>
        <option value="docx">DOCX</option>
      </select>
    </sn-form-group>

    <sn-form-group snExtraClasses="mb-3">
      <label sn-form-label>Includes</label>
      <sn-checkbox 
          shape="rounded"
          color="primary"
          size="xsmall"
          formControlName="includeTopicTitle"
          label="Topic Title">
      </sn-checkbox>
      <sn-checkbox 
          shape="rounded"
          color="primary"
          size="xsmall"
          formControlName="includeTopicSynopsis"
          label="Topic Synopsis">
      </sn-checkbox>
      <sn-checkbox 
          shape="rounded"
          color="primary"
          size="xsmall"
          formControlName="includeSectionTitle"
          label="Section Title">
      </sn-checkbox>
      <sn-checkbox 
          shape="rounded"
          color="primary"
          size="xsmall"
          formControlName="includeSectionSynopsis"
          label="Section Synopsis">
      </sn-checkbox>
    </sn-form-group>
    <div class="flex flex-row items-center justify-end gap-1">
      <button 
          sn-button
          type="submit">
        Export
      </button>
      <button 
          sn-button
          snType="outline"
          type="button" 
          (click)="onClose()">
        Close
      </button>
    </div>
  </form>
</div>
