<div *ngIf="!(isPageLoading$ | async) && (accountProfile$ | async) && (accountDetails$ | async)" [@fadeAnimation] class="container-navbar-adjust container-fluid p-0 height-full">
  <div class="row p-0 m-0 height-full">
    <!-- Column Left -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-5 p-0 m-0 border-right-1">
      <div class="m-0 p-3 border-bottom-1">
        <h4 class="text-primary font-weight-bold mb-0">Account Details</h4>
      </div>
      <div class="user-details-wrapper p-3">
        <sn-user-account-user-card
            [account]="accountDetails$ | async"
            [profile]="accountProfile$ | async">
        </sn-user-account-user-card>
      </div>
    </div>

    <!-- Column Right -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-7 p-0 m-0">
      <tabset class="column-header-tabs">
        <tab heading="General" id="general" (selectTab)="navigateTo('general')"></tab>
        <tab heading="Security" id="security" (selectTab)="navigateTo('security')"></tab>
        <tab heading="Integrations" id="integrations" (selectTab)="navigateTo('integrations')"></tab>
        <tab heading="Toolbar" id="toolbar" (selectTab)="navigateTo('toolbar')"></tab>
      </tabset>
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
