<div *ngIf="(accountProfile$ | async) && (accountDetails$ | async)" [@fadeAnimation] class="flex w-full p-0 m-0 h-full flex-wrap content-start">
  <!-- Column Left -->
  <div class="w-full sm:w-full md:w-full lg:w-1/2 xl:w-5/12 lg:border-r lg:h-full">
    <h4 class="p-4 border-b font-bold text-primary-500 text-xl">Account Details</h4>
    <div class="p-4 border-b">
      <sn-user-account-user-card
          [account]="accountDetails$ | async"
          [profile]="accountProfile$ | async">
      </sn-user-account-user-card>
    </div>
  </div>

  <!-- Column Right -->
  <div class="w-full sm:w-full md:w-full lg:w-1/2 xl:w-7/12">
    <div class="flex flex-row px-4 py-2 border-b">
      <span 
          class="cursor-pointer border text-gray-500 text-md mr-2 py-2 px-4 rounded-full transition-colors"
          [ngClass]="{ 'text-primary-500 border-primary-500': currentRoute === 'general' }" 
          id="general" 
          (click)="navigateTo('general')">
        General
      </span>
      <span 
          class="cursor-pointer border text-gray-500 text-md mr-2 py-2 px-4 rounded-full transition-colors" 
          [ngClass]="{ 'text-primary-500 border-primary-500': currentRoute === 'security' }" 
          id="security" 
          (click)="navigateTo('security')">
        Security
      </span>
      <span 
          class="cursor-pointer border text-gray-500 text-md mr-2 py-2 px-4 rounded-full transition-colors" 
          [ngClass]="{ 'text-primary-500 border-primary-500': currentRoute === 'integrations' }" 
          id="integrations" 
          (click)="navigateTo('integrations')">
        Integrations
      </span>
      <span 
          class="cursor-pointer border text-gray-500 text-md mr-2 py-2 px-4 rounded-full transition-colors" 
          [ngClass]="{ 'text-primary-500 border-primary-500': currentRoute === 'toolbar' }" 
          id="toolbar" 
          (click)="navigateTo('toolbar')">
        Toolbar
      </span>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
