<div [@fadeAnimation] class="container-navbar-adjust container">
  <div class="row">

    <!-- Column Left -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mb-4">
      <div class="card">
        <div class="card-body">

          <!-- Avatar -->
          <div class="row">
            <div class="col-sm-12 py-3 px-5">
              <img src="assets/images/default-avatar.svg" class="img-fluid rounded-circle" style="width: 100%;" />
            </div>
          </div>

          <!-- Details -->
          <div class="row">
            <div class="col-sm-12">
              <h3 class="mt-3 text-center font-weight-bold">{{ (accountProfile$ | async)?.firstName }} {{ (accountProfile$ | async)?.lastName }}</h3>
              <h5 class="mb-4 text-center text-sm text-secondary font-style-italic">{{ (accountProfile$ | async)?.email }}</h5>
            </div>
          </div>

          <!-- Status -->
          <div class="row">
            <div class="col-sm-12">
              <ul class="list-group">
                <li class="list-group-item">
                  <strong>Account Status:</strong><span class="float-right badge badge-success badge-pill">Active</span>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Column Right -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">

      <div class="row mb-4">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h4 class="font-weight-bold mb-3">
                <span *ngIf="isEditingProfile">Editing</span> Profile
                <span
                    *ngIf="!isEditingProfile" 
                    (click)="editProfile(true)"
                    class="btn btn-sm btn-outline-primary btn-border-none float-right">
                  <span class="oi oi-pencil oi-margin"></span>
                  Edit
                </span>
              </h4>
              <hr />
              <form [formGroup]="form" (ngSubmit)="onUpdateProfile(form.value)" novalidate>
                <ng-container *ngIf="isEditingProfile; else displayProfile">
                  <div>
                    <sn-account-details-form
                        (onEditingComplete)="onEditingComplete($event)">
                    </sn-account-details-form>
                    <div class="form-group mt-2">
                      <button class="btn btn-primary mr-2" type="submit">Save</button>
                      <button class="btn btn-secondary" type="button" (click)="onEditingProfile(false)">Cancel</button>
                    </div>
                  </div>
                </ng-container>
                <ng-template #displayProfile>
                  <sn-account-details-display
                      [profile]="(accountProfile$ | async)">
                  </sn-account-details-display>
                </ng-template>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>