/* You can add global styles to this file, and also import other style files */
.vh {
  height: 100vh !important;
}

.icon-margin {
  margin-right: 4px;
}

.btn-border-none {
  border: none !important;
}

.btn-border-none:hover {
  margin-top: 0 !important;
}

.popover-body {
  p {
    font-size: 0.9rem;
  }
}

bs-datepicker-container { 
  z-index: 9999 !important;
}


// TODO Refactor into editor component????
.md-editor {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;

  textarea {
    flex-grow: 1;
    padding: 0.5rem;  
    background: #FFFFFF;
  }

  &.active {
    outline: none;
    box-shadow:none !important;
    border-color: rgba(0, 0, 0, 0.125) !important;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
  }
}