<div [@fadeAnimation] [formGroup]="form.get('profile')">
  
    <!-- First & Last Name Inputs -->
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input 
              class="form-control" 
              formControlName="firstName" 
              name="firstName" 
              type="text" 
              id="firstName" 
              autocomplete="off"
              [ngClass]="{ 'is-invalid':!form.get('profile').get('firstName').valid && form.get('profile').get('firstName').touched  }">
          <small 
              class="text-danger text-bold" 
              *ngIf="
                form.get('profile').get('firstName').touched  
                && form.get('profile').get('firstName').hasError('required')">
            First name is required!
          </small>
          <small 
              class="text-danger text-bold" 
              *ngIf="
                form.get('profile').get('firstName').touched  
                && form.get('profile').get('firstName').hasError('minlength')">
            First name must be 3 characters!
          </small>
          <small 
              class="text-danger text-bold" 
              *ngIf="
                form.get('profile').get('firstName').touched  
                && form.get('profile').get('firstName').hasError('pattern')">
            First name must be only characters!
          </small>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input 
              class="form-control" 
              formControlName="lastName" 
              name="lastName" 
              type="text" 
              id="lastName" 
              autocomplete="off"
              [ngClass]="{ 'is-invalid':!form.get('profile').get('lastName').valid && form.get('profile').get('lastName').touched  }">
          <small 
              class="text-danger text-bold" 
              *ngIf="
                form.get('profile').get('lastName').touched  
                && form.get('profile').get('lastName').hasError('required')">
            Last name is required!
          </small>
          <small 
              class="text-danger text-bold" 
              *ngIf="
                form.get('profile').get('lastName').touched  
                && form.get('profile').get('lastName').hasError('minlength')">
            Last name must be 3 characters!
          </small>
          <small 
              class="text-danger text-bold" 
              *ngIf="
                form.get('profile').get('lastName').touched  
                && form.get('profile').get('lastName').hasError('pattern')">
            Last name must be only characters!
          </small>
        </div>
      </div>
    </div>
  
    <!-- Address Form -->
    <div [formGroup]="form.get('profile').get('address')">
      <!-- Street Input -->
      <div class="form-group">
        <label for="street">Street</label>
        <input 
            class="form-control" 
            formControlName="street" 
            name="street" 
            type="text" 
            id="street" 
            autocomplete="off"
            [ngClass]="{ 'is-invalid':!form.get('profile').get('address').get('street').valid && form.get('address').get('street').touched  }">
        <small 
            class="text-danger text-bold" 
            *ngIf="
              form.get('profile').get('address').get('street').touched  
              && form.get('profile').get('address').get('street').hasError('required')">
          Street is required!
        </small>
      </div>

      <!-- Street 2 Input -->
      <div class="form-group">
        <label for="street2">Street 2</label>
        <input 
            class="form-control" 
            formControlName="street2" 
            name="street2" 
            type="text" 
            id="street2" 
            autocomplete="off">
      </div>
      
      <!-- City, State Zip Inputs-->
      <div class="row">
        <div class="col-sm-4">
          <div classs="form-group">
            <label for="city">City</label>
            <input 
                class="form-control" 
                formControlName="city" 
                name="city" 
                type="text" 
                id="city" 
                autocomplete="off"
                [ngClass]="{ 'is-invalid':!form.get('profile').get('address').get('city').valid && form.get('address').get('city').touched  }">
            <small 
                class="text-danger text-bold" 
                *ngIf="
                  form.get('profile').get('address').get('city').touched  
                  && form.get('profile').get('address').get('city').hasError('required')">
              City is required!
            </small>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="state">State</label>
            <select 
                class="form-control" 
                formControlName="state" 
                name="state" 
                id="state" 
                autocomplete="off"
                [ngClass]="{ 'is-invalid':!form.get('profile').get('address').get('state').valid && form.get('address').get('state').touched  }">
              <option
                  *ngFor="let state of states"
                  [value]="state.abbr">
                {{ state.abbr }}
              </option>
            </select>
            <small 
                class="text-danger text-bold" 
                *ngIf="
                  form.get('profile').get('address').get('state').touched  
                  && form.get('profile').get('address').get('state').hasError('required')">
              State is required!
            </small>
          </div>
        </div>
        
        <div class="col-sm-4">
          <div class="form-group">
            <label nzSpan="24" nzFor="zip">Zip</label>
            <input 
                class="form-control" 
                formControlName="zip" 
                name="zip" 
                type="text" 
                id="zip" 
                autocomplete="off"
                [ngClass]="{ 'is-invalid':!form.get('profile').get('address').get('zip').valid && form.get('address').get('zip').touched  }">
            <small 
                class="text-danger text-bold" 
                *ngIf="
                  form.get('profile').get('address').get('zip').touched  
                  && form.get('profile').get('address').get('zip').hasError('required')">
              Zip is required!
            </small>
          </div>
        </div>
      </div>
    </div>

    <!-- Email Input -->
    <!-- <div class="form-group">
      <label for="email">Email</label>
      <input 
          class="form-control" 
          formControlName="email" 
          name="email" 
          type="text" 
          id="email"
          [ngClass]="{ 'is-invalid':!form.get('profile').get('email').valid && form.get('profile').get('email').touched  }">
      <small 
          class="text-danger text-bold" 
          *ngIf="
            form.get('profile').get('email').touched  
            && form.get('profile').get('email').hasError('required')">
        Email is required!
      </small>
      <small 
          class="text-danger text-bold" 
          *ngIf="
            form.get('profile').get('email').touched  
            && form.get('profile').get('email').hasError('pattern')">
        Invalid email format!
      </small>
      <small 
          class="text-danger text-bold" 
          *ngIf="
            form.get('profile').get('email').touched  
            && form.get('profile').get('email').hasError('emailExists')">
        Email already exists!
      </small>
    </div> -->
</div>
