<div class="row">
  <div class="col-sm-12 px-4">
    <h3 class="font-weight-bold text-primary text-right mb-3">Create Section</h3>
    <hr />
    <!-- Feedback Message -->
    <div *ngIf="(responseMessage$ | async)" [@showHide] class="alert alert-success">
      <span>
        <strong>{{ (responseMessage$ | async).status | uppercase }}</strong>: {{ (responseMessage$ | async).message }}
      </span>
    </div>

    <!-- Section Form -->
    <form (ngSubmit)="submit(form.value)" [formGroup]="form" novalidate>
      <sn-user-section-form></sn-user-section-form>
      <div class="form-group">
        <button role="button" type="submit" class="btn btn-primary" [disabled]="!form.valid">Save</button>
      </div>
    </form>
  </div>
</div>
