<div class="p-4">
  <h3 class="font-bold text-primary-500 text-right text-2xl mb-3">Create Section</h3>
  <hr class="mb-3" />
  
  <!-- Response Message -->
  <ng-container *ngIf="(responseMessage$ | async) as responseMessage">
    <sn-alert
        [@showHide]
        snColor="info"
        [snTitle]="responseMessage.status"
        [snMessage]="responseMessage.message">
    </sn-alert>
  </ng-container>


  <!-- Section Form -->
  <form (ngSubmit)="submit(form.value)" [formGroup]="form" novalidate>
    <sn-user-section-form></sn-user-section-form>
    <div class="flex flex-row items-center justify-end gap-1">
      <button sn-button (click)="submit(form.value)" [disabled]="form.invalid">
        Save
      </button>
    </div>
  </form>
</div>
