.document-builder-section-container {
  .document-builder-section-container-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .document-builder-section-container-actions {
      display: flex;
      flex-direction: row;
      align-items: center;

      span {
        cursor: pointer;
        
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
