<div *ngIf="!documents || documents.length === 0" class="documents-no-data p-3 border-bottom-1">
  <sn-empty-data 
      message="No documents found!"
      [extraContent]="createNewButton">
  </sn-empty-data>
  <ng-template #createNewButton>
    <button 
        (click)="create()" 
        class="bg-white border border-primary-500 mt-4 py-2 px-4 hover:bg-primary-500 hover:text-white transition-colors rounded-full text-primary-500 font-semibold mb-2">
      Create a document
    </button>
  </ng-template>
</div>

<sn-list *ngIf="documents">
  <sn-list-item *ngFor="let document of documents" snExtraClasses="border-b">
    <sn-list-item-title [snExtraContent]="documentTitleExtraContentTemplate">
      <a class="hover:text-primary-700" [routerLink]="[]">{{ document?.name | titlecase }}</a>
      <ng-template #documentTitleExtraContentTemplate>
        <div class="flex flex-row gap-1 items-center">
          <sn-button
              snType="blank"
              (click)="edit(document)">
            <ng-icon name="heroPencil" size="1rem"></ng-icon>
          </sn-button>
          <sn-button
              snType="blank"
              (click)="view(document)">
            <ng-icon name="heroEye" size="1rem"></ng-icon>
          </sn-button>
          <sn-button 
              snType="blank"
              mwlConfirmationPopover
              placement="left"
              (confirm)="delete(document.id)">
            <ng-icon name="heroTrash" size="1rem"></ng-icon>
          </sn-button>
        </div>
      </ng-template>
    </sn-list-item-title>
    <sn-list-item-subtitle>Document description will go here...</sn-list-item-subtitle>
    <sn-list-item-footer>
      <ng-icon name="heroClock" size="0.8rem"></ng-icon>&nbsp;&nbsp; {{ document.updatedAt | date:'medium' }}
    </sn-list-item-footer>
  </sn-list-item>
</sn-list>
