<div class="px-4" *ngIf="todoList">
  <sn-section-header 
      snTitle="Todo List Details"
      snDirectionality="reverse"
      snSize="2xl"
      snExtraClasses="border-b mb-4">
  </sn-section-header>

  <!-- Response Message -->
  <ng-container *ngIf="responseMessage">
    <sn-alert
        [@showHide]
        snColor="info"
        [snTitle]="responseMessage.status"
        [snMessage]="responseMessage.message">
    </sn-alert>
  </ng-container>

  
  <h4 class="font-bold text-gray-700 mb-1 text-xl">{{ todoList?.title }}</h4>
  
  <div class="mb-4 text-gray-500 text-xs flex flex-row items-center">
    <ng-icon name="heroCalendarDays" size="1rem"></ng-icon>&nbsp; &nbsp;
    <span class="italic"> {{ todoList?.startedBy | date: 'MM/dd/yyyy hh:mm a' }} - {{ todoList?.completedBy | date: 'MM/dd/yyyy hh:mm a' }}</span>
  </div>

  <div class="mb-4">
    <sn-user-todo-list-progress [todoList]="form?.value"></sn-user-todo-list-progress>
  </div>
  
  <form [formGroup]="form" novalidate>
    <div class="form-group" formArrayName="todos">
      <ng-container *ngFor="let todoControl of form.get('todos')['controls']">
        <div [formGroup]="todoControl">
          <sn-checkbox
            shape="rounded"
            color="primary"
            size="xsmall"
            formControlName="isComplete"
            [value]="todoControl?.value?.isComplete"
            [label]="todoControl?.value?.description">
          </sn-checkbox>
        </div>
      </ng-container>
    </div>
  </form>
</div>

