<ng-container *ngIf="documentTopic; else noTopicTemplate">
  <div class="card card-body document-builder-topic-container">
    <div class="document-builder-topic-container-title">
      <h4 class="font-weight-bold text-primary">{{ documentTopic?.topic?.title || 'test' }}</h4>
      <div 
        class="document-builder-topic-container-actions"
        cdkDrag
        [cdkDragRootElement]="TOPIC_DRAGGABLE_ROOT_ELEMENT"
        [cdkDragData]="drogDataAction">
      <span 
          class="text-dark" 
          cdkDragHandle
          (mousedown)="drogDataAction = DropAction.CLONE_CONTAINER_ONLY">
        <i class="fas fa-expand-arrows-alt"></i>
      </span>
      <span 
          class="text-dark mr-0"
          mwlConfirmationPopover
          placement="left"
          (confirm)="removeTopic(documentTopic)">
        <i class="fas fa-trash-alt"></i>
      </span>
    </div>
    </div>
    <p class="text-dark font-italic">{{ documentTopic?.topic?.synopsis || '' }}</p>
    <ul 
        class="list-group"
        cdkDropList
        [id]="''+documentTopic?.topic?.id"
        [cdkDropListData]="documentTopic?.documentTopicSections"
        [cdkDropListConnectedTo]="topicIds$ | async"
        (cdkDropListDropped)="dropSection($event)">
      <ng-container *ngIf="documentTopic?.documentTopicSections?.length; else noSectionsTemplate">
        <li cdkDrag 
            class="list-group-item"
            *ngFor="let documentTopicSection of documentTopic?.documentTopicSections">
          <sn-user-document-builder-document-section
              [documentTopicSection]="documentTopicSection"
              (onRemoveSection)="removeSection($event, documentTopic)">
          </sn-user-document-builder-document-section>
        </li>
      </ng-container>
    </ul>
  </div>
</ng-container>


<ng-template #noSectionsTemplate>
  <sn-user-empty-data message="No sections to displays"></sn-user-empty-data>
</ng-template>

<ng-template #noTopicTemplate>
  <sn-user-empty-data 
      message="No topic to display.  Please search and select one!">
  </sn-user-empty-data>
</ng-template>
