
<div [@fadeAnimation]>
  <sn-section-header 
      snTitle="Accounts"
      snExtraClasses="border-b"
      [snExtraContent]="plansTitleExtraContent">
    <ng-template #plansTitleExtraContent>
      <button 
          sn-button
          snType="outline"
          (click)="onCreate()"
          role="button">
        <ng-icon class="mr-1" name="heroDocument" size="1rem"></ng-icon>
        New
      </button>
    </ng-template>
  </sn-section-header>
  <div class="relative overflow-x-auto">
    <table class="border-collapse table-fixed w-full text-sm">
      <thead class="text-xs text-gray-900 uppercase dark:text-gray-400">
        <tr class="border-b">
          <th class="font-semibold border-r last:border-r-0 p-4 pl-8 text-slate-400 text-left">Profile</th>
          <th class="font-semibold border-r last:border-r-0 p-4 pl-8 text-slate-400 text-left">Name</th>
          <th class="font-semibold border-r last:border-r-0 p-4 pl-8 text-slate-400 text-left">Email</th>
          <th class="font-semibold border-r last:border-r-0 p-4 pl-8 text-slate-400 text-left">Email Confirmed</th>
          <th class="font-semibold border-r last:border-r-0 p-4 pl-8 text-slate-400 text-left">Actions</th>
        </tr>
      </thead>
      <tbody class="bg-white">
        <tr class="border-b">
          <td class="border-r last:border-r-0 p-4 pl-8 text-slate-500"><img src="assets/images/default-avatar.svg" class="img-fluid ng-tns-c40-1" style="height: 22px;"></td>
          <td class="border-r last:border-r-0 p-4 pl-8 text-slate-500">Jason White</td>
          <td class="border-r last:border-r-0 p-4 pl-8 text-slate-500">jmw5598@gmail.com</td>
          <td class="border-r last:border-r-0 p-4 pl-8 text-slate-500"><span class="badge badge-success">Confirmed</span></td>
          <td class="border-r last:border-r-0 p-4 pl-8 text-slate-500">
            <div class="flex flex-row items-center gap-1 justify-end">
              <button 
                  sn-button
                  snType="blank"
                  class="btn btn-outline-primary btn-sm btn-border-none"
                  (click)="edit(account)">
                <ng-icon name="heroPencil" size="1rem"></ng-icon>
              </button>
              <button 
                  sn-button
                  snType="blank"
                  class="btn btn-outline-primary btn-sm btn-border-none"
                  (click)="view(account)">
                <ng-icon name="heroEye" size="1rem"></ng-icon>
              </button>
              <button 
                  sn-button
            snType="blank"
                  mwlConfirmationPopover
                  placement="left"
                  (confirm)="delete(account.id)"
                  role="button" 
                  class="btn btn-outline-primary btn-sm btn-border-none">
                <ng-icon name="heroTrash" size="1rem"></ng-icon>
              </button>
            </div>
          </td>
        </tr>
        <tr class="border-b">
          <td class="border-r last:border-r-0 p-4 pl-8 text-slate-500"><img src="assets/images/default-avatar.svg" class="img-fluid ng-tns-c40-1" style="height: 22px;"></td>
          <td class="border-r last:border-r-0 p-4 pl-8 text-slate-500">Sandy White</td>
          <td class="border-r last:border-r-0 p-4 pl-8 text-slate-500">sandy5598@gmail.com</td>
          <td class="border-r last:border-r-0 p-4 pl-8 text-slate-500"><span class="badge badge-danger">Unconfirmed</span></td>
          <td class="border-r last:border-r-0 p-4 pl-8 text-slate-500">
            <div class="flex flex-row items-center gap-1 justify-end">
              <button 
                  sn-button
                  snType="blank"
                  class="btn btn-outline-primary btn-sm btn-border-none"
                  (click)="edit(account)">
                <ng-icon name="heroPencil" size="1rem"></ng-icon>
              </button>
              <button 
                  sn-button
                  snType="blank"
                  class="btn btn-outline-primary btn-sm btn-border-none"
                  (click)="view(account)">
                <ng-icon name="heroEye" size="1rem"></ng-icon>
              </button>
              <button 
                  sn-button
                  snType="blank"
                  mwlConfirmationPopover
                  placement="left"
                  (confirm)="delete(account.id)"
                  role="button" 
                  class="btn btn-outline-primary btn-sm btn-border-none">
                <ng-icon name="heroTrash" size="1rem"></ng-icon>
              </button>
            </div>
          </td>
        </tr>
        <tr class="border-b">
          <td class="border-r last:border-r-0 p-4 pl-8 text-slate-500"><img src="assets/images/default-avatar.svg" class="img-fluid ng-tns-c40-1" style="height: 22px;"></td>
          <td class="border-r last:border-r-0 p-4 pl-8 text-slate-500">Dillard White</td>
          <td class="border-r last:border-r-0 p-4 pl-8 text-slate-500">dill@gmail.com</td>
          <td class="border-r last:border-r-0 p-4 pl-8 text-slate-500"><span class="badge badge-success">Confirmed</span></td>
          <td class="border-r last:border-r-0 p-4 pl-8 text-slate-500">
            <div class="flex flex-row items-center gap-1 justify-end">
              <button 
                  sn-button
                  snType="blank"
                  class="btn btn-outline-primary btn-sm btn-border-none"
                  (click)="edit(account)">
                <ng-icon name="heroPencil" size="1rem"></ng-icon>
              </button>
              <button 
                  sn-button
                  snType="blank"
                  class="btn btn-outline-primary btn-sm btn-border-none"
                  (click)="view(account)">
                <ng-icon name="heroEye" size="1rem"></ng-icon>
              </button>
              <button 
                  sn-button
                  snType="blank"
                  mwlConfirmationPopover
                  placement="left"
                  (confirm)="delete(account.id)"
                  role="button" 
                  class="btn btn-outline-primary btn-sm btn-border-none">
                <ng-icon name="heroTrash" size="1rem"></ng-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <sn-paginator></sn-paginator>
  </div>
</div>
