<div class="container-navbar-adjust container" [@fadeAnimation]>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <!-- Topics list -->
      <div *ngIf="(searchTopicsResult$ | async)?.elements?.length > 0" class="card">
        <!-- <div class="card-header">Current Topics</div> -->
        <div class="card-body">
          <h5 class="m-0 p-0 topic-list-heading">
            Topics
            <!-- Header Buttons -->
            <span class="float-right">
              <sn-debounced-search
                  debounceTime="500"
                  (onSearch)="onSearchTopics($event)">
              </sn-debounced-search>
            </span>
          </h5>
          <sn-topic-list
              [topics]="(searchTopicsResult$ | async)?.elements"
              (onDelete)="onDelete($event)">
          </sn-topic-list>
        </div>
      </div>

      <!-- No Topics Message -->
      <div *ngIf="(searchTopicsResult$ | async)?.totalElements === 0" class="card card-info">
        <div class="card-body">
          <div class="alert alert-secondary">
            <h3>Message</h3>
            <p>You currently do not have any <strong>Topics</strong> started.</p>
            <button class="btn btn-lg btn-success" [routerLink]="['../create']">Start A New Topic</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
