<div class="flashcard-set-viewer-controls">
  <span 
      title="First card"
      class="control" 
      (click)="first()">
    <ng-icon name="heroChevronDoubleLeft" size="1rem"></ng-icon>
  </span>
  <span 
      title="Previous card"
      class="control" 
      (click)="previous()">
    <ng-icon name="heroChevronLeft" size="1rem"></ng-icon>
  </span>
  <span 
      title="Shuffle cards"
      class="control" 
      (click)="shuffle()">
    <ng-icon name="heroQuestionMarkCircle" size="1rem"></ng-icon>
  </span>
  <span 
      title="Flip card"
      class="control" 
      (click)="flip()">
    <ng-icon name="heroArrowPath" size="1rem"></ng-icon>
  </span>
  <span 
      title="Next card"
      class="control" 
      (click)="next()">
    <ng-icon name="heroChevronRight" size="1rem"></ng-icon>
  </span>
  <span 
      title="Last card"
      class="control" 
      (click)="last()">
    <ng-icon name="heroChevronDoubleRight" size="1rem"></ng-icon>
  </span>
</div>
