<nav class="navbar-side bg-light" [ngClass]="{ 'navbar-side-show' : (isShown$ | async) }">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <hr />
      <a class="nav-link text-dark" href="#">
        <span class="oi oi-document oi-margin"></span>
        Topics <span class="sr-only">(current)</span>
      </a>
      <hr />
      <ul class="nav nav-submenu flex-column">
        <li class="nav-submenu-item"><a class="text-dark" [routerLink]="['topics']">Dashboard</a></li>
        <li class="nav-submenu-item"><a class="text-dark" [routerLink]="['topics','create']">Create Topic</a></li>
        <li class="nav-submenu-item"><a class="text-dark" [routerLink]="['topics', 'search']">Search Topics</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <hr />
      <a class="nav-link text-dark" href="#">
        <span class="oi oi-lock-unlocked oi-margin"></span>
        Account
      </a>
      <hr />
      <ul class="nav nav-submenu flex-column">
        <li class="nav-submenu-item"><a class="text-dark" [routerLink]="['accounts', 'details']">My Account Details</a></li>
        <li class="nav-submenu-item"><a class="text-dark" [routerLink]="['/auth', 'logout']">Logout</a></li>
      </ul>
    </li>
  </ul>
</nav>
