<nav class="navbar-side bg-light" [ngClass]="{ 'navbar-side-show' : 5 === 5 }">
  <h3 class="font-weight-bold text-right mb-3">Navigation</h3>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <hr />
      <a class="nav-link text-dark" href="#">
        <i class="fas fa-book icon-margin"></i>
        Topics <span class="sr-only">(current)</span>
      </a>
      <hr />
      <ul class="nav nav-submenu flex-column">
        <li 
            class="nav-submenu-item" 
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
          <a class="text-dark" [routerLink]="['topics', 'view']">Dashboard</a>
        </li>
        <li 
            class="nav-submenu-item" 
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
          <a class="text-dark" [routerLink]="['topics','create']">Create Topic</a>
        </li>
        <li 
            class="nav-submenu-item" 
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
          <a class="text-dark" [routerLink]="['topics', 'search']">Search Topics</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <hr />
      <a class="nav-link text-dark" href="#">
        <i class="far fa-file-alt icon-margin"></i>
        Documents
      </a>
      <hr />
      <ul class="nav nav-submenu flex-column">
        <li 
            class="nav-submenu-item" 
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
          <a class="text-dark" [routerLink]="['documents', 'builder']">Docmnet Builder (WIP)</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <hr />
      <a class="nav-link text-dark" href="#">
        <i class="far fa-calendar-alt icon-margin"></i>
        Calendar
      </a>
      <hr />
      <ul class="nav nav-submenu flex-column">
        <li 
            class="nav-submenu-item" 
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
          <a class="text-dark" [routerLink]="['calendar']">View Calendar Events (WIP)</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <hr />
      <a class="nav-link text-dark" href="#">
        <i class="far fa-user-circle icon-margin"></i>
        Account
      </a>
      <hr />
      <ul class="nav nav-submenu flex-column">
        <li 
            class="nav-submenu-item"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
          <a class="text-dark" [routerLink]="['accounts', 'details']">My Account Details</a>
        </li>
        <li 
            class="nav-submenu-item"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
          <a class="text-dark" [routerLink]="['/auth', 'logout']">Logout</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
