<div>
  <form [formGroup]="form" (ngSubmit)="onSave(form.value)" novalidate>
    <sn-user-todo-list-details
        [todoList]="data$ | async"
        [responseMessage]="responseMessage$ | async">
    </sn-user-todo-list-details>
    <div class="flex flex-row items-center justify-end gap-1">
      <sn-button (click)="onSave(form.value)">
        Save
      </sn-button>
      <sn-button 
          snType="outline"
          (click)="onCancel()">
        Close
      </sn-button>
    </div>
  </form>
</div>
