<div>
  <form [formGroup]="form" (ngSubmit)="onSave(form.value)" novalidate>
    <sn-user-todo-list-details
        [todoList]="data$ | async"
        [responseMessage]="responseMessage$ | async">
    </sn-user-todo-list-details>
    <div class="form-group text-right mx-2">
      <button 
          class="btn btn-primary mr-2" 
          type="submit">
        Save
      </button>
      <button 
          (click)="onCancel()"
          class="btn btn-secondary" 
          type="button">
        Close
      </button>
    </div>
  </form>
</div>
