<div [@fadeAnimation]>
  <sn-section-header 
      snTitle="Plans"
      snExtraClasses="border-b"
      [snExtraContent]="plansTitleExtraContent">
    <ng-template #plansTitleExtraContent>
      <button 
          sn-button
          snType="outline"
          (click)="onCreate()"
          role="button">
        <ng-icon class="mr-1" name="heroDocument" size="1rem"></ng-icon>
        New
      </button>
    </ng-template>
  </sn-section-header>
  <sn-admin-plans-list 
      [plans]="allPlans$ | async"
      (onEdit)="onEdit($event)"
      (onDelete)="onDelete($event)"
      (onUndelete)="onUndelete($event)">
  </sn-admin-plans-list>
</div>

<sn-drawer
    [drawerLocation]="SnDrawerLocation.RIGHT">
</sn-drawer>
