<table *ngIf="topics" class="table table-striped">
  <thead>
    <tr>
      <th>Created</th>
      <th>Owner</th>
      <th>Title</th>
      <th>Permission</th>
      <th>LastModified</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="topics">
    <tr *ngFor="let topic of topics">
      <td>{{ topic.createdOn | date:short}}</td>
      <td>{{ topic.owner | titlecase }}</td>
      <td>{{ topic.title }}</td>
      <td>{{ topic.permission | titlecase }}</td>
      <td>{{ topic.lastModified | date:short }}</td>
      <td class="text-right">
        <button role="button" class="btn btn-outline-primary btn-sm btn-border-none" [routerLink]="['/topics', topic.id]">
          <span class="oi oi-pencil"></span>
        </button>
        <button role="button" class="btn btn-outline-primary btn-sm btn-border-none" (click)="delete(topic.id)">
          <span class="oi oi-trash"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
