<div class="row">
  <div class="col-sm-12 px-4">
    <h3 class="font-weight-bold text-primary text-right mb-3">Create Todo List</h3>
    <hr />
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <!-- Response Message -->
      <div *ngIf="(responseMessage$ | async)" [@showHide] class="alert alert-success">
        <span>
          <strong>{{ (responseMessage$ | async).status | uppercase }}</strong>: {{ (responseMessage$ | async).message }}
        </span>
      </div>
      <sn-todo-list-form></sn-todo-list-form>
      <div class="form-group text-right">
        <button class="btn btn-primary btn-submit mr-3" type="submit" [disabled]="form.invalid">Create</button>
        <button class="btn btn-secondary btn-close" type="button" (click)="onClose()">Cancel</button>
      </div>
    </form>
  </div>
</div>
