<div class="p-4">
  <h3 class="font-bold text-primary-500 text-right text-2xl mb-3">Update Topic</h3>
  <hr class="mb-3" />
  
  <!-- Response Message -->
  <div *ngIf="(responseMessage$ | async)" [@showHide] class="bg-info-100 rounded-xl text-info-700 p-4 mb-4" role="alert">
    <p class="font-bold">{{ (responseMessage$ | async)?.status | titlecase }}</p>
    <p>{{ (responseMessage$ | async)?.message }}</p>
  </div>

  <!-- Topic Form -->
  <form (ngSubmit)="submit(form.value)" [formGroup]="form" novalidate>
    <sn-user-topic-form></sn-user-topic-form>
    <div class="form-group">
      <button 
          role="button" 
          type="submit" 
          class="border border-primary-500 hover:bg-white bg-primary-500 text-white hover:text-primary-500 font-bold transition-colors rounded-full py-2 px-4 text-xs me-1" 
          [disabled]="!form.valid">
        Save
      </button>
    </div>
  </form>
</div>
