<div class="p-4">
  <h3 class="font-bold text-primary-500 text-right text-2xl mb-3">Update Topic</h3>
  <hr class="mb-3" />
  
  <!-- Response Message -->
  <ng-container *ngIf="(responseMessage$ | async) as responseMessage">
    <sn-alert
        [@showHide]
        snColor="info"
        [snTitle]="responseMessage.status"
        [snMessage]="responseMessage.message">
    </sn-alert>
  </ng-container>

  <!-- Topic Form -->
  <form (ngSubmit)="submit(form.value)" [formGroup]="form" novalidate>
    <sn-user-topic-form></sn-user-topic-form>
    <div class="flex flex-row justify-end items-center gap-1">
      <sn-button (click)="submit(form.value)">
        Save
      </sn-button>
    </div>
  </form>
</div>
