<div>
  <form [formGroup]="form" (ngSubmit)="onUpdate(form.value)" novalidate>
    <sn-user-todo-list-update 
        [todoList]="data$ | async" 
        [responseMessage]="responseMessage$ | async">
    </sn-user-todo-list-update>
    <div class="flex flex-row items-center gap-1 justify-end">
      <sn-button (click)="onUpdate(form.value)">
        Save
      </sn-button>
      <sn-button 
          snType="outline"
          (click)="onCancel()">
        Cancel
      </sn-button>
    </div>
  </form>
</div>
