<div class="px-4" *ngIf="(shortcut$ | async)">
  <sn-section-header 
      snTitle="Keyboard Shortcut Details"
      snDirectionality="reverse"
      snSize="2xl"
      snExtraClasses="border-b mb-4">
  </sn-section-header>

  <!-- Response Message -->
  <ng-container *ngIf="(responseMessage$ | async) as responseMessage">
    <sn-alert
        [@showHide]
        snColor="info"
        [snTitle]="responseMessage.status"
        [snMessage]="responseMessage.message">
    </sn-alert>
  </ng-container>

  <h4 class="font-bold text-gray-700 text-lg mb-2">{{ shortcut?.action }} Binding</h4>
  <div class="border bg-gray-50 rounded-xl p-4 mb-3">
    <p class="text-gray-700 m-0 p-0 mb-2 text-md italic">{{ shortcut?.description }}</p>
    <div class="flex flex-row justify-between items-center mb-1">
      <span class="font-bold text-gray-700 text-sm">Default Shortcut:</span>
      <span class="border rounded-full  bg-gray-100 px-2 text-xs">{{ shortcut?.defaultShortcut || 'NA' }}</span>
    </div>
    <div class="flex flex-row justify-between items-center" *ngIf="shortcut.shortcut">
      <span class="font-bold text-gray-700 text-sm">Overridden Shortcut:</span>
      <span class="text-info-700 bg-info-100 border border-info-200 text-xs rounded-full px-2">{{ shortcut?.shortcut || 'NA' }}</span>
    </div>
  </div>
  <div class="keyboard-shortcut-form">
    <h5 class="font-bold text-gray-700 text-md mb-2">Override Keyboard Shortcut</h5>
    <form [formGroup]="shortcutForm" (ngSubmit)="saveShortcut(shortcutForm.value)" novalidate>
      <!-- Create form array here -->
      <sn-form-group snExtraClasses="mb-3">
        <label sn-form-label for="">Modifiers</label>
        <select 
            sn-form-control
            formControlName="modifier">
          <option 
              *ngFor="let modifier of modifierOptions" 
              [value]="modifier.value" 
              [disabled]="modifier.isSet">
            {{ modifier.name }}
          </option>
        </select>
        <small 
            sn-form-control-error
            *ngIf="shortcutForm.get('modifier').touched && shortcutForm.get('modifier').hasError('required')">
          Please select a modifier!
        </small>
      </sn-form-group>

      <sn-form-group snExtraClasses="mb-3">
        <label class="text-gray-500 text-xs mb-1 ps-1" for="">Key</label>
        <input 
            sn-form-control
            type="text" 
            formControlName="key" />
        <small 
            sn-form-control-error
            *ngIf="shortcutForm.get('key').touched && shortcutForm.get('key').hasError('required')">
          Please enter a key!
        </small>
        <small 
            sn-form-control-error
            *ngIf="shortcutForm.get('key').touched && shortcutForm.get('key').hasError('maxLength')">
          Must be a single key!
        </small>
      </sn-form-group>
      <div class="flex flex-row justify-end">
        <sn-button 
            (click)="saveShortcut(shortcutForm.value)"
            [disabled]="shortcutForm.invalid">
          Save
        </sn-button>
      </div>
    </form>
  </div>
</div>