<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <sn-page-header
          [heading]="'Document Builder (WIP)'">
      </sn-page-header>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div clas="card">
        <div class="card-body">

          <div class="form-group">
            <input [(ngModel)]="selected"
                [typeahead]="topics$"
                [typeaheadAsync]="true"
                [typeaheadItemTemplate]="customItemTemplate"
                (typeaheadOnSelect)="onSelectTopic($event)"
                class="form-control mb-3">
            <pre class="card card-block card-header mb-3">Model: {{selected | json}}</pre>
            <ng-template #customItemTemplate let-model="item" let-index="index">
              <h5>{{ model.title }}</h5>
            </ng-template>
          </div>
          
          <ul 
              class="list-group"
              cdkDropList
              #todoList="cdkDropList"
              [cdkDropListData]="completed"
              [cdkDropListConnectedTo]="[doneList]"
              (cdkDropListDropped)="onDrop($event)">
            
            <ng-container *ngIf="selectedTopic && selectedTopic.sections">
              <h3>test</h3>
              <li class="list-group-item" *ngFor="let section of selectedTopics?.section" cdkDrag>
                <h4>{{ section.name}}</h4>
                <p>{{ section.synopsis }}</p>
              </li>
            </ng-container>

          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div clas="card">
        <div class="card-body">
          <ul 
              class="list-group"
              cdkDropList
              #doneList="cdkDropList"
              [cdkDropListData]="completed"
              [cdkDropListConnectedTo]="todoList"
              (cdkDropListDropped)="onDrop($event)">
            <li class="list-group-item" *ngFor="let complete of completed" cdkDrag>
              <h4>{{ complete.name }}</h4>
              <p>{{ complete.category }}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
