<div class="table-responsive">
  <table class="table table-striped" *ngIf="plans">
    <thead>
      <tr>
        <th>Name</th>
        <th>Created At</th>
        <th>Deleted At</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let plan of plans">
        <td [ngClass]="{ 'text-danger' : plan?.deletedAt }">{{ plan?.name }}</td>
        <td>{{ plan?.createdAt | date }}</td>
        <td>{{ plan?.deletedAt | date }}</td>
        <td class="text-right">
          <div class="action-buttons text-right">
            <button 
                class="btn btn-outline-primary btn-sm btn-border-none"
                (click)="edit(plan)">
              <i class="fas fa-edit"></i>
            </button>
            <button
                *ngIf="plan?.deletedAt"
                mwlConfirmationPopover
                placement="left"
                (confirm)="undelete(plan.id)"
                role="button"
                class="btn btn-outline-primary btn-sm btn-border-none">
              <i class="fas fa-undo"></i>
            </button>
            <button
                *ngIf="!plan?.deletedAt"
                mwlConfirmationPopover
                placement="left"
                (confirm)="delete(plan.id)"
                role="button" 
                class="btn btn-outline-primary btn-sm btn-border-none">
              <i class="far fa-trash-alt"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
