table {
  thead {
    tr {
      th {
        border-top: 0;
        border-bottom: 0;
      }
    }
  }
  
  tbody {
    tr {
      td {
        border-bottom: 0;
      }
      
      &:last-child {
        td {
          border-bottom: 1px solid #dee2e6;;
        }
      }
    }
  }
}
