.flashcard-set {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 668px;
  min-height: 668px;
  overflow-y: scroll;
}

.flashcard-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  span {
    margin-left: 0.5rem;
  }
  .flashcard-handle {
    cursor: grab;
  }
}

.cdk-drag-preview {
  z-index: 10001 !important;
}

.cdk-drag-placeholder {
  background: transparent;
  opacity: 0;
}