<div *ngIf="(searchDocumentsResult$ | async)" class="w-2/3 m-0 p-0 h-full" [@fadeAnimation]>
  <!-- Documents List -->
  <div class="border-r h-full" *ngIf="(searchDocumentsResult$ | async) || []">
    <h4 class="m-0 px-4 py-3 border-b flex flex-row items-center justify-between">
      <span class="font-bold text-primary-500 text-xl">Documents</span>
      <!-- Header Buttons -->
      <span class="flex flex-row items-center gap-1">
        <sn-debounced-search
            class="mr-1"
            debounceTime="500"
            [isSearching]="isSearching"
            (onSearch)="onSearchDocuments($event)">
        </sn-debounced-search>
        <sn-button
            snType="outline"
            (click)="onCreate()">
          <ng-icon name="heroDocument" size="1rem"></ng-icon>
          New
        </sn-button>
      </span>
    </h4>
    <div class="block w-full border-b">
      <sn-user-document-list
          [documents]="(searchDocumentsResult$ | async)?.elements"
          (onDelete)="onDelete($event)"
          (onView)="onView($event)"
          (onEdit)="onEdit($event)"
          (onCreate)="onCreate()">
      </sn-user-document-list>
      <div class="p-3">
        <sn-paginator
            [page]="(searchDocumentsResult$ | async)"
            (onNextPage)="onGoToPage($event)"
            (onPreviousPage)="onGoToPage($event)"
            (onGoToPage)="onGoToPage($event)">
        </sn-paginator>
      </div>
    </div>
  </div>
</div>

<sn-drawer
    [drawerLocation]="DrawerLocation.RIGHT">
</sn-drawer>
