<sn-toolbar class="bg-white">
  <sn-toolbar-button-group>
    <span 
        snToolbarButton 
        class="text-gray-500"
        (click)="onPreviousRoute()">
      <ng-icon name="heroArrowSmallLeft" size="1.2rem"></ng-icon>
    </span>
    <span 
        snToolbarButton 
        class="text-gray-500"
        (click)="onNextRoute()">
      <ng-icon name="heroArrowSmallRight" size="1.2rem"></ng-icon>
    </span>
  </sn-toolbar-button-group>
  <sn-toolbar-button-group>
    <span 
        snToolbarButton 
        class="text-gray-500"
        (click)="onCreateNewTopic()">
      <ng-icon name="heroBookOpen" size="1.2rem"></ng-icon>
    </span>
    <span 
        snToolbarButton 
        class="text-gray-500"
        (click)="onCreateNewCalendarEvent()">
      <ng-icon name="heroCalendarDays" size="1.2rem"></ng-icon>
    </span>
    <span 
        snToolbarButton 
        class="text-gray-500"
        (click)="onCreateNewDocument()">
      <ng-icon name="heroDocument" size="1.2rem"></ng-icon>
    </span>
    <span 
        snToolbarButton 
        class="text-gray-500"
        (click)="onSearchTopics()">
      <ng-icon name="heroMagnifyingGlass" size="1.2rem"></ng-icon>
    </span>
    <span 
        snToolbarButton 
        class="text-gray-500"
        (click)="onCreateFlashcardSet()">
      <ng-icon name="heroCreditCard" size="1.2rem"></ng-icon>
    </span>
    <span 
        snToolbarButton 
        class="text-gray-500"
        (click)="onCreateTodoList()">
      <ng-icon name="heroClipboardDocumentList" size="1.2rem"></ng-icon>
    </span>
  </sn-toolbar-button-group>
</sn-toolbar>

<sn-drawer
    [drawerLocation]="DrawerLocation.RIGHT">
</sn-drawer>

<ng-keyboard-shortcuts 
    [shortcuts]="shortcuts">
</ng-keyboard-shortcuts>

