<div>
  <ng-container [ngSwitch]="calendarEventView">
    <ng-container *ngSwitchCase="'display'">
      <sn-calendar-event-details
          [event]="data$ | async">
      </sn-calendar-event-details>
      <div class="form-group text-right mx-2">
        <button 
            class="btn btn-primary mr-2" 
            type="button" 
            (click)="onEdit()">
          Edit
        </button>
        <button 
            mwlConfirmationPopover
            placement="left"
            (confirm)="onDelete()"
            class="btn btn-outline-primary mr-2" 
            type="button">
          Delete
        </button>
        <button 
              (click)="onCancel()"
              class="btn btn-secondary" 
              type="button">
            Cancel
          </button>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'edit'">
      <form [formGroup]="form" (ngSubmit)="onUpdate(form.value)" novalidate>
        <sn-calendar-event-update 
            [event]="data$ | async"
            [responseMessage]="responseMessage$ | async">
        </sn-calendar-event-update>
        <div class="form-group text-right mx-2">
          <button 
              class="btn btn-primary mr-2" 
              type="submit">
            Save
          </button>
          <button 
              mwlConfirmationPopover
              placement="left"
              (confirm)="onEdit()"
              class="btn btn-secondary" 
              type="button">
            Cancel
          </button>
        </div>
      </form>
    </ng-container>
  </ng-container>
</div>