<div>
  <!-- 
    Need to switch between 2 modes, edit and display.
    - Should these be separate dummy components or just put into this component?
    - calendar-event-details - display component
    - calendar-event-edit - edit component
    - calendar-event-view - wrapper component that switch between dummy components
    
    - TODO rename calendar-event-add-model t- calendar-event-create or add?
  
  -->

  <ng-container [ngSwitch]="calendarEventView">
    <ng-container *ngSwitchCase="'display'">
      <sn-calendar-event-details
          [event]="data$ | async">
      </sn-calendar-event-details>
      <div class="form-group text-right">
        <button 
            class="btn btn-primary mr-3" 
            type="button" 
            (click)="onEdit()">
          Edit
        </button>
        <button 
            mwlConfirmationPopover
            placement="left"
            (confirm)="onDelete()"
            class="btn btn-secondary" 
            type="button">
          Delete
        </button>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'edit'">
      <sn-calendar-event-update
          [event]="data$ | async">
      </sn-calendar-event-update>
    </ng-container>
  </ng-container>

  
</div>