<div [formGroup]="form" class="mb-4">
  <!-- Title Input -->
  <sn-form-group snExtraClasses="mb-3">
    <label sn-form-label for="title">Title <small class="text-danger-500">*</small></label>
    <input 
        sn-form-control
        type="text" 
        formControlName="title" 
        id="title" />
  </sn-form-group>

  <!-- Start Date & Time Inputs -->
  <div class="flex flex-row mb-3">
    <sn-form-group snExtraClasses="w-1/2 me-2">
      <label sn-form-label for="startedBy">Started By <small class="text-danger-500">*</small></label>
      <input 
          sn-form-control
          autocomplete="off"
          name="startedBy" 
          formControlName="startedBy" 
          [dpDayPicker]="datepickerConfig"
          mode="daytime"
          theme="dp-main" />
    </sn-form-group>
    <sn-form-group snExtraClasses="w-1/2">
      <label sn-form-label for="completedBy">Completed By <small class="text-danger-500">*</small></label>
      <input 
          sn-form-control
          autocomplete="off"
          name="startedBy" 
          formControlName="completedBy" 
          [dpDayPicker]="datepickerConfig"
          mode="daytime"
          theme="dp-sn" /> 
    </sn-form-group>
  </div>

  <h5 class="text-gray-700 text-md font-bold mt-4 mb-2">Add Todos</h5>
  
  <hr class="mb-3" />

  <sn-form-group snExtraClasses="mb-3">
    <label sn-form-label for="description">Description</label>
    <input 
        sn-form-control
        autocomplete="off" 
        id="description" 
        type="text"
        formControlName="description" />
  </sn-form-group>
  
  <div>
    <div class="flex flex-row items-center justify-end gap-1">
      <button 
          sn-button
          snSize="sm"
          role="button" 
          type="button"
          (click)="addTodo(form.get('description').value)"
          [disabled]="!(form.get('description')?.value?.length > 0)">
        <i class="fas fa-plus-circle"></i> Add 
      </button>
    </div>
  </div>

  <div class="flex flex-col">
    <label class="text-gray-500 text-xs mb-1 ps-1">Todos</label>
    <ng-container *ngIf="form?.value?.todos?.length; else noTodosInList">
      <ul class="border rounded-xl" 
          cdkDropList 
          [cdkDropListData]="form.get('todos')['control']"
          (cdkDropListDropped)="dropTodo($event)">
        <ng-container  
            formArrayName="todos"
            *ngFor="let item of form.get('todos')['controls']; let i = index;">

          <li class="border-b last:border-b-0 px-4 py-2 flex flex-row items-center" cdkDrag>
            <span class="cursor-grab active:cursor-grabbing mt-1 mr-2" cdkDragHandle>
              <ng-icon name="heroArrowsPointingOut" size="1rem"></ng-icon>
            </span>
            <span class="text-gray-700 text-sm grow">{{ item.get('description').value }}</span>
            <span class="mt-1 cursor-pointer" (click)="removeTodo(item.value)">
              <ng-icon name="heroXMark" size="1rem"></ng-icon>
            </span>
        </li>
        </ng-container>
      </ul>
    </ng-container>
  </div>
</div>

<ng-template #noTodosInList>
  <sn-empty-data 
      [message]="'Todo list is currently empty!'">
  </sn-empty-data>
</ng-template>
