<div 
    class="overlay-side-panel" 
    [class.collapsed]="!isDrawerVisible">
  <div class="overlay" [ngClass]="overlayStyle || options?.overlayStyle" 
      *ngIf="isDrawerVisible" [@fadeAnimation] (click)="close()">
  </div>
  <div class="side-panel shadow"
    [ngClass]="(drawerLocation || options?.location) + ' ' + (drawerSize || options?.size)">
    <div class="p-4">
      <i class="fas fa-times close text-dark" (click)="close()"></i>
    </div>
    <div class="content py-0 px-4">
      <ng-container #content></ng-container>
    </div>
  </div>
</div>