<div *ngIf="formGroup && (section$ | async)" [@fadeAnimation] class="flex flex-row h-full flex-wrap">
  <form class="w-full sm:w-full md:w-1/2 lg:w-1/2" [formGroup]="formGroup">
    <textarea 
        snMarkdownEasymde 
        formControlName="notes">
    </textarea>
  </form>
  <div class="w-full sm:w-full md:w-1/2 lg:w-1/2 p-4">
    <div class="editor-markdown-preview">
      <markdown 
          class="markdown-body" 
          [data]="formGroup?.value?.notes">
      </markdown>
    </div>
  </div>
</div>
