<ul class="account-bio" [@fadeAnimation]>
  <li>
    First Name: <span class="float-right">{{ profile.firstName || '' }}</span>
  </li>
  <li>
    Last Name: <span class="float-right">{{ profile.lastName || '' }}</span>
  </li>
  <li>
    Street: <span class="float-right">{{ profile?.address?.street || '' }}</span>
  </li>
  <li>
    City: <span class="float-right">{{ profile?.address?.city || '' }}</span>
  </li>
  <li>
    State: <span class="float-right">{{ profile?.address?.state || '' }}</span>
  </li>
  <li>
    Zip: <span class="float-right">{{ profile?.address?.zip || '' }}</span>
  </li>
  <li>
    Email: <span class="float-right">{{ profile?.email || '' }}</span>
  </li>
</ul>
