<div *ngIf="!todoLists || todoLists.length === 0" class="topics-no-data p-3 border-bottom-1">
  <sn-empty-data 
      message="No todo lists to display for today!"
      [extraContent]="createNewButton">
  </sn-empty-data>
  <ng-template #createNewButton>
    <a [routerLink]="['../todos']" class="btn btn-success text-light">Create new todo list</a>
  </ng-template>
</div>
<ng-container *ngIf="todoLists">
  <div *ngFor="let todoList of todoLists" class="border-bottom-1 p-3">
    <sn-user-todo-list-todos-form 
        [todoList]="todoList"
        (onUpdate)="onUpdateTodoList($event)">
    </sn-user-todo-list-todos-form>
  </div>
</ng-container>