<div 
    *ngIf="calendarEventCreateView !== 'menu'" 
    class="btn-menu" 
    (click)="switchView('menu')">
  <i class="fas fa-arrow-left close text-dark"></i>
</div>
<ng-container [ngSwitch]="calendarEventCreateView">
  <div class="row" *ngSwitchCase="'menu'">
    <div class="col-sm-12 px-4">
      <div>
        <h3 class="font-weight-bold text-primary text-right mb-3">Add to Calendar</h3>
        <hr />
      </div>
      <div>
        <button (click)="switchView('event')" class="btn btn-outline-primary d-block w-100 mb-2">Create Event</button>
        <button (click)="switchView('todo-list')" class="btn btn-outline-primary d-block w-100 mb-2">Create Todo List</button>
      </div>
    </div>
  </div>
  <ng-container *ngSwitchCase="'event'">
    <sn-user-calendar-event-create></sn-user-calendar-event-create>
  </ng-container>
  <ng-container *ngSwitchCase="'todo-list'">
    <sn-user-todo-list-create></sn-user-todo-list-create>
  </ng-container>
</ng-container>


