<div class="px-4">
  <sn-section-header 
      snTitle="Update Todo List"
      snDirectionality="reverse"
      snSize="2xl"
      snExtraClasses="border-b mb-4">
  </sn-section-header>

  <!-- Response Message -->
  <ng-container *ngIf="responseMessage">
    <sn-alert
        [@showHide]
        snColor="info"
        [snTitle]="responseMessage.status"
        [snMessage]="responseMessage.message">
    </sn-alert>
  </ng-container>


  <div [formGroup]="form">
    <sn-user-todo-list-form></sn-user-todo-list-form>
  </div>
</div>
