<div *ngIf="!events || events.length === 0" class="events-no-data p-3 border-bottom-1">
  <sn-empty-data 
      message="No calendar events today!"
      [extraContent]="createNewButton">
  </sn-empty-data>
  <ng-template #createNewButton>
    <a [routerLink]="['../calendar']" class="btn btn-success text-light">Create an event</a>
  </ng-template>
</div>
<ng-container *ngIf="events">
  <div *ngFor="let event of events" class="border-bottom-1 p-3">
    <div class="list-details">
      <div class="list-details-title">
        <h5 class="text-primary p-0 m-0 d-flex flex-row justify-content-between w-100">
          <a [routerLink]="['/calendar']">{{ event.title }}</a>
        </h5>
      </div>
      <p class="list-details-description text-dark font-italic p-0 m-0">{{ event.description }}</p>
      <hr class="my-1" />
      <div class="list-details-timestamp text-dark p-0 m-0 d-flex flex-row">
        <p class="list-details-timestamp text-dark p-0 m-0 mr-3">
          <i class="far fa-clock"></i>&nbsp;&nbsp; 
          {{ event.startDateTime | date:'shortTime' }} - {{ event.endDateTime | date:'shortTime' }} ({{ event.startDateTime | date:'shortDate' }} - {{ event.endDateTime | date:'shortDate' }})
        </p>
        <p class="list-details-timestamp text-dark p-0 m-0">
          <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp; {{ event.location || '' }}
        </p>
        <span class="dot-color-swatch ml-auto" [style.background-color]="event?.color"></span>
      </div>
    </div>
  </div>
</ng-container>
