$default: #e6e8ea;
$white: #FFFFFF;

@mixin generate-checkbox-label-positions {
  &.left {
    flex-direction: row-reverse;
    .checkbox-label {
      margin-right: 0.25rem;
    }
  }
  
  &.right {
    flex-direction: row;
    justify-content: flex-end;
    .checkbox-label {
      margin-left: 0.25rem;
    }
  }
}

@mixin create-checkbox-shape($radius) {
  .checkbox{
    border-radius: $radius;
    .checkmark {
      border-radius: $radius;
    }
  }
}

@mixin generate-checkbox-shapes {
  &.square {
    @include create-checkbox-shape(0);
  }

  &.rounded {
    @include create-checkbox-shape(4px);
  }

  &.circle {
    @include create-checkbox-shape(3rem);
  }
}

@mixin create-checkbox-size($checkbox-size, $font-size) {
  .checkbox {
    width: $checkbox-size;
    height:  $checkbox-size;
    font-size:  $font-size;
    .checkmark {
      line-height: $checkbox-size;
    }
  }
  .checkbox-label {
    font-size: $font-size;
    line-height: $checkbox-size;
  }
}

@mixin generate-checkbox-sizes {
  &.small {
    @include create-checkbox-size(22px, 1rem);
  }

  &.medium {
    @include create-checkbox-size(32px, 1.2rem);
  }

  &.large {
    @include create-checkbox-size(42px, 1.5rem);
  }
  &.xsmall {
    @include create-checkbox-size(16px, 0.8rem);
  }
}

.checkbox-container {
  display: inline-flex;

  .checkbox-label,
  .checkbox {
    cursor: pointer;
  }

  .checkbox {
    box-sizing: border-box;
    color: $white;
    transition: background 0.2s, visibility 0.2s;

    .checkmark {
      visibility: hidden;
      width: 100%;
      height: 100%;
      text-align: center;
      vertical-align: middle;
    }

    &.checked {
      .checkmark {
        visibility: visible;
      }
    }
  }

  @include generate-checkbox-label-positions;
  @include generate-checkbox-sizes;
  @include generate-checkbox-shapes;
}