.fc .fc-toolbar.fc-header-toolbar {
  @apply mb-0;
}

.fc-col-header-cell {
  @apply font-semibold text-primary-500 p-4 m-4 border-b border-r last:border-r-0;
}

.fc-toolbar {
  .fc-toolbar-chunk {
    .fc-toolbar-title {
      @apply font-bold text-primary-500 text-xl;
    }

    .btn-group {
      @apply inline-block m-0;
    }

    button,
    .btn-group > button {
      @apply inline-block text-primary-500 text-xs px-4 py-2 border border-primary-500 rounded-full capitalize mr-2;
    }
  }
}

.fc-daygrid-day-frame {
  @apply border-b border-l;
}

.fc-toolbar {
  max-height: 57px;
  @apply border-b mb-0 p-4;
}

.fc-col-header {
  height: 52px;
  line-height: 52px;
  vertical-align: middle;
}

.fc-event {
  @apply rounded-full px-2 text-xs;
}

.fc-daygrid-day-number{
  @apply text-primary-500;
}
