<div class="flex flex-row w-full gap-4" [formGroup]="form">
  <div class="grow w-1/2"> 
    <div class="flex flex-col justify-center grow w-full mb-3">
      <label class="text-gray-500 text-xs mb-1 ps-1" for="title">Title</label>
      <input 
          class="border py-2 px-4 bg-white rounded-full text-sm focus:outline-none focus:border-gray-400 text-gray-700" 
          type="text" 
          name="title" 
          formControlName="title" />
    </div>

    <div class="flex flex-col justify-center grow w-full mb-3">
      <label class="text-gray-500 text-xs mb-1 ps-1" for="title">Synopsis</label>
      <input 
          class="border py-2 px-4 bg-white rounded-full text-sm focus:outline-none focus:border-gray-400 text-gray-700" 
          type="text"
          name="synopsis" 
          formControlName="synopsis" />
    </div>
    <ng-container *ngIf="!(flashcardBeingEdited$ | async); else editFlashcardTemplate">
      <sn-user-flashcard-create-form></sn-user-flashcard-create-form>
    </ng-container>
    <ng-template #editFlashcardTemplate>
      <sn-user-flashcard-edit-form></sn-user-flashcard-edit-form>
    </ng-template>
  </div>
  <div class="grow w-1/2">
    <sn-user-flashcard-set-builder-container></sn-user-flashcard-set-builder-container>
  </div>
</div>
