<div class="flex flex-row w-full content-start flex-wrap" [formGroup]="form">
  <div class="w-full sm:w-full md:w-full lg:w-full xl:w-1/2"> 

    <sn-form-group snExtraClasses="mb-3">
      <label sn-form-label for="title">Title</label>
      <input 
          sn-form-control
          type="text" 
          name="title" 
          formControlName="title" />
    </sn-form-group>

    <sn-form-group snExtraClasses="mb-3">
      <label sn-form-label for="synopsis">Synopsis</label>
      <input 
          sn-form-control
          type="text"
          name="synopsis" 
          formControlName="synopsis" />
    </sn-form-group>

    <ng-container *ngIf="!(flashcardBeingEdited$ | async); else editFlashcardTemplate">
      <sn-user-flashcard-create-form></sn-user-flashcard-create-form>
    </ng-container>
    <ng-template #editFlashcardTemplate>
      <sn-user-flashcard-edit-form></sn-user-flashcard-edit-form>
    </ng-template>
  </div>
  <div class="w-full sm:w-full md:w-full lg:w-full xl:w-1/2 p-4">
    <sn-user-flashcard-set-builder-container></sn-user-flashcard-set-builder-container>
  </div>
</div>
