<div *ngIf="!roles || roles.length === 0" class="topics-no-data p-4 border-b">
  <sn-empty-data 
      message="No roles found!">
  </sn-empty-data>
</div>

<sn-list *ngIf="roles">
  <sn-list-item *ngFor="let role of roles" snExtraClasses="border-b">
    <sn-list-item-title [snExtraContent]="roleTitleExtraContentTemplate">
      <a sn-link [routerLink]="[]" [ngClass]="{ 'text-danger-500': role?.deletedAt }">{{ role?.name | uppercase }}</a>
      <ng-template #roleTitleExtraContentTemplate>
        <div class="flex flex-row items-center justify-end gap-1">
          <button 
              sn-button
              snType="blank"
              snExtraClasses="me"
              (click)="edit(role)">
            <ng-icon name="heroPencil" size="1rem"></ng-icon>
          </button>
          <button
              sn-button
              snType="blank"
              *ngIf="role?.deletedAt"
              mwlConfirmationPopover
              placement="left"
              (confirm)="undelete(role.id)"
              role="button">
            <ng-icon name="heroArrowPath" size="1rem"></ng-icon>
          </button>
          <button 
              sn-button
              snType="blank"
              *ngIf="!role?.deletedAt"
              mwlConfirmationPopover
              placement="left"
              (confirm)="delete(role.id)"
              role="button">
            <ng-icon name="heroTrash" size="1rem"></ng-icon>
          </button>
        </div>
      </ng-template>
    </sn-list-item-title>
    <!-- <sn-list-item-subtitle>{{ topic?.synopsis }}</sn-list-item-subtitle> -->
    <sn-list-item-footer>
      <ng-icon name="heroClock" size="0.8rem"></ng-icon>
        &nbsp;&nbsp; <span class="font-semibold">Created:&nbsp;</span>{{ role.createdAt | date:'medium' }} 
        &nbsp;&nbsp; <span class="font-semibold">Update:&nbsp;</span>{{ role.updatedAt | date:'medium' }}
        <ng-container *ngIf="role?.deletedAt">
          &nbsp;&nbsp; <span class="font-semibold">Deleted:&nbsp;</span>{{ role.deletedAt | date:'medium' }}
        </ng-container>
    </sn-list-item-footer>
  </sn-list-item>
</sn-list>
