<h5 class="text-dark font-weight-bold mt-2">Add Flashcards</h5>
<hr class="mb-2 mt-2" />
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate id="test">
  <div class="form-group">
    <label>Front Content</label>
    <div class="border">
      <angular-markdown-editor
          textareaId="front-card" 
          name="front-card"
          [options]="editorOptions"
          formControlName="frontContent">
      </angular-markdown-editor>
    </div>
  </div>
  <div class="form-group">
    <label>Back Content</label>
    <div class="border">
      <angular-markdown-editor
          textareaId="back-card" 
          name="back-card"
          [options]="editorOptions"
          formControlName="backContent">
      </angular-markdown-editor>
    </div>
  </div>
  
  <div class="form-group text-right">
    <button class="btn btn-primary mr-2" role="button" type="submit">Add Flashcard</button>
    <button class="btn btn-secondary" role="button" type="button">Reset</button>
  </div>
</form>
