<h5 class="text-dark font-weight-bold mt-2">Add Flashcards</h5>
<hr class="mb-2 mt-2" />
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate id="test">
  <div class="form-group">
    <label>Front Content</label>
    <div class="border">
      <angular-markdown-editor
          textareaId="create-front-card" 
          name="front-card"
          [options]="editorOptions"
          formControlName="frontContent">
      </angular-markdown-editor>
    </div>
  </div>
  <div class="form-group">
    <label>Back Content</label>
    <div class="border">
      <angular-markdown-editor
          textareaId="create-back-card" 
          name="back-card"
          [options]="editorOptions"
          formControlName="backContent">
      </angular-markdown-editor>
    </div>
  </div>
  
  <div class="form-group text-right">
    <button 
        class="btn btn-sm btn-outline-primary btn-border-none" 
        role="button" 
        type="submit"
        [disabled]="form.invalid">
      <i class="fas fa-plus-circle"></i> Add
    </button>
    <button 
        class="btn btn-sm btn-outline-dark btn-border-none" 
        role="button" 
        type="button"
        (click)="onReset()">
      <i class="fas fa-undo"></i> Reset
    </button>
  </div>
</form>
