<div>
  <div [formGroup]="form" class="row">
    <div class="col-sm-12">
      <div class="form-group p-3">
        <label for="name">Document Title</label>
        <input formControlName="name" type="text" class="form-control" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div clas="card">
        <div class="card-body">

          <div class="form-group">
            <label for="search-topics">Search Topics</label>
            <input id="search-topics"
                [(ngModel)]="selected"
                [typeahead]="topics$"
                [typeaheadAsync]="true"
                [typeaheadItemTemplate]="customItemTemplate"
                (typeaheadOnSelect)="onSelectTopic($event)"
                class="form-control mb-3">
            <pre class="card card-block card-header mb-3">Model: {{selected | json}}</pre>
            <ng-template #customItemTemplate let-model="item" let-index="index">
              <h5>{{ model.title }}</h5>
            </ng-template>
          </div>
          <div cdkDropList
              [cdkDropListData]="[selectedTopic]"
              [cdkDropListConnectedTo]="[documentId$ | async]">
            <div>
              <sn-document-builder-topic-container 
                  [topic]="selectedTopic"
                  [actionButtonsTemplate]="documentBuilderTopicContainerTemplate">
              </sn-document-builder-topic-container>
              <ng-template #documentBuilderTopicContainerTemplate>
                <div 
                    class="document-builder-topic-container-actions"
                    cdkDrag
                    [cdkDragRootElement]="TOPIC_DRAGGABLE_ROOT_ELEMENT"
                    [cdkDragData]="drogDataAction">
                  <span 
                      class="text-dark"
                      cdkDragHandle
                      (mousedown)="drogDataAction = DropAction.CLONE_WHOLE">
                    <i class="far fa-clone"></i>
                  </span>
                  <span 
                      class="text-dark" 
                      cdkDragHandle
                      (mousedown)="drogDataAction = DropAction.CLONE_CONTAINER_ONLY">
                    <i class="fas fa-expand-arrows-alt"></i>
                  </span>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <sn-document-builder-document-container></sn-document-builder-document-container>
    </div>
  </div>
</div>


