<div [formGroup]="form.get('user')">
  <!-- Username Input -->
  <sn-form-group snExtraClasses="mb-3">
    <label sn-form-label  for="username">Username</label>
    <input 
        sn-form-control
        formControlName="username" 
        name="username" 
        type="text" 
        id="username" 
        autocomplete="off"
        [ngClass]="{ 'border-danger-500':!form.get('user').get('username').valid && form.get('user').get('username').touched  }">
    <small 
        sn-form-control-error
        *ngIf="
          form.get('user').get('username').touched  
          && form.get('user').get('username').hasError('required')">
      Username is required!
    </small>
    <small 
        sn-form-control-error
        *ngIf="
          form.get('user').get('username').touched
          && form.get('user').get('username').hasError('usernameExists')">
      Username already exists!
    </small>
  </sn-form-group>

  <!-- Roles -->
  <sn-form-group snExtraClasses="mb-3" [formGroup]="form.get('user')" formArrayName="roles">
    <label sn-form-label for="roles">Allowed Roles</label>
    <!-- <div class="card card-body"> -->
      <ng-conttainer *ngFor="let roleControl of form?.get('user')?.get('roles')['controls']">
        <div [formGroup]="roleControl">
          <sn-checkbox 
              shape="rounded"
              color="primary"
              size="xsmall"
              formControlName="isChecked"
              [value]="roleControl?.value?.isChecked"
              [label]="roleControl?.value?.name">
          </sn-checkbox>
        </div>
      </ng-conttainer>
    <!-- </div> -->
  </sn-form-group>

  <!-- Password Input -->
  <sn-form-group snExtraClasses="mb-3">
    <label sn-form-label  for="password">Password</label>
    <input 
        sn-form-control
        formControlName="password" 
        name="password" 
        type="password" 
        id="password"
        [ngClass]="{ 'border-danger-500':!form.get('user').get('password').valid && form.get('user').get('password').touched  }">
    <small 
        sn-form-control-error
        *ngIf="
          form.get('user').get('password').touched  
          && form.get('user').get('password').hasError('required')">
      Password is required!
    </small>
    <small 
        sn-form-control-error
        *ngIf="
          form.get('user').get('password').touched  
          && form.get('user').get('password').hasError('minlength')">
      Password must be 8 characters!
    </small>
  </sn-form-group>

  <!-- Password Confirm Input -->
  <sn-form-group snExtraClasses="mb-3">
    <label sn-form-label for="passwordConfirm">Confirm Password</label>
    <input 
        sn-form-control
        formControlName="passwordConfirm" 
        name="passwordConfirm" 
        type="password" 
        id="passwordConfirm"
        [ngClass]="{ 'border-danger-500':!form.get('user').get('passwordConfirm').valid && form.get('user').get('passwordConfirm').touched  }">
    <small 
        sn-form-control-error
        *ngIf="
          form.get('user').get('passwordConfirm').touched  
          && form.get('user').get('passwordConfirm').hasError('required')">
      Password confirmation is required!
    </small>
    <small 
        sn-form-control-error
        *ngIf="
          form.get('user').get('passwordConfirm').touched  
          && form.get('user').get('passwordConfirm').hasError('mustMatch')">
      Password & Confirmation must match!
    </small>
  </sn-form-group>
</div>
