<div [formGroup]="form">

  <!-- Title Input -->
  <sn-form-group snExtraClasses="mb-3">
    <label sn-form-label for="title">Title <small class="text-danger-500">*</small></label>
    <input 
        sn-form-control
        type="text" 
        formControlName="title"
        id="title" />
  </sn-form-group>

  <!-- Start Date & Time Inputs -->
  <sn-form-group snExtraClasses="mb-3">
    <label sn-form-label for="startDate">Start Date & Time <small class="text-danger-500">*</small></label>
    <input 
        sn-form-control
        autocomplete="off"
        name="startedBy" 
        formControlName="startDate" 
        [dpDayPicker]="datepickerConfig"
        mode="daytime"
        theme="dp-main" />
  </sn-form-group>
  
  <!-- End Date & Time Inputs -->
  <sn-form-group snExtraClasses="mb-3">
    <label sn-form-label for="endDate">End Date & Time <small class="text-danger-500">*</small></label>
    <input 
        sn-form-control
        autocomplete="off"
        name="startedBy" 
        formControlName="endDate" 
        [dpDayPicker]="datepickerConfig"
        mode="daytime"
        theme="dp-main" />
  </sn-form-group>

  <!-- Is All Day Checkbox & Color Swatch Input-->
  <div class="flex flex-row justify-between items-center w-full mb-3 pe-2 color-swatch">
    <label sn-form-label class="text-gray-500 text-xs my-1 ps-1" for="color">Color <small class="text-danger-500">*</small></label>
    <div class="flex flex-row justify-between items-center relative">
      <div 
          class="color-swatch-selected"
          (click)="showColorSwatchPicker()"
          [style.background-color]="form.get('color').value">
      </div>
      <input 
          type="hidden" 
          class="form-control text-light"
          formControlName="color" />
      <div class="absolute -right-4 top-6" *ngIf="isColorSwatchPickerShown" [@fadeAnimation]>
        <color-twitter
            triangle="top-right"
            width="312"
            [color]="form.get('color').value"
            [colors]="colors"
            (onChange)="handleColorSwatchChange($event)"
            (onChangeComplete)="handleColorSwatchChangeComplete($event)">
        </color-twitter>
      </div>
    </div>
  </div>
  
  <!-- Location Input -->
  <sn-form-group snExtraClasses="mb-3">
    <label sn-form-label for="location">Location <small class="text-danger-500">*</small></label>
    <input 
        sn-form-control
        type="text" 
        formControlName="location" />
  </sn-form-group>

  <!-- Description Textarea -->
  <sn-form-group snExtraClasses="mb-3">
    <label sn-form-label for="Description">Description <small class="text-danger-500">*</small></label>
    <textarea 
        sn-form-control
        snType="rounded"
        rows="6" 
        formControlName="description"></textarea>
  </sn-form-group>
    
</div>
