.sn-editor-column {
  height: calc(100vh - 88px);
}

.sn-editor-column .card {
  height: calc(100% - 16px);
}

.sn-editor-column .card .card-body {
  overflow-x: hidden;
  position: relative;
}

.sn-editor-column .card:nth-child(2) .card-body {
  overflow-y: auto;
}

.sn-editor-column .card-body .form-group {
  position: absolute;
  top: 16px;
  bottom: 16px;
  right: 16px;
  left: 16px;
}

.sn-editor-column .card-body textarea {
  height: 100% !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
