<div *ngIf="(section$ | async)" [@fadeAnimation] class="container-navbar-adjust container-fluid section-edit">
  <div class="row">

    <!-- TODO: Convert to a form possibly? -->
    <!-- Left Column Textarea -->
    <div class="col-sm-12 col-md-6 sn-editor-column">
      <div class="card">
        <div class="card-header">
          <strong>Title</strong>: {{ (section$ | async).title }}
          <div class="float-right">
            <span class="badge badge-default text-dark">{{ saveMessage }}</span>
            <button (click)="onSaveSectionNotes(sectionNotes)" class="btn btn-sm btn-outline-success btn-border-none" role="button">
              <span class="oi oi-data-transfer-upload oi-margin"></span>
              Save
            </button>
            <button class="btn btn-sm btn-outline-dark btn-border-none" role="button">
              <span class="oi oi-warning oi-margin"></span>
              Clear
            </button>
          </div>
        </div>
        <div class="card-body">
          <!-- Edit form -->
          <div class="form-group">
            <textarea [(ngModel)]="sectionNotes" (keyup)="onSectionNotesChangeKeyUp($event)" class="form-control" name="notes" height="100"></textarea>
          </div>
        </div>
      </div>
    </div>

    <!-- Right Column Preview -->
    <div class="col-sm-12 col-md-6 sn-editor-column">
      <div class="card">
        <div class="card-body">
          <markdown class="markdown-body" [data]="sectionNotes"></markdown>
        </div>
      </div>
    </div>
  </div>
</div>