<fieldset [formGroup]="form">
  <!-- Title Field Input -->
  <sn-form-group snExtraClasses="mb-3">
    <label sn-form-label for="title">Title</label>
    <input
        sn-form-control
        type="text" 
        name="title"
        id="title"
        formControlName="title"
        [ngClass]="{'is-invalid':!form.controls['title'].valid && form.controls['title'].touched  }" />
  </sn-form-group>

  <!-- Synopsis Field Input -->
  <sn-form-group snExtraClasses="mb-3">
    <label sn-form-label for="title">Title</label>
    <textarea
        sn-form-control
        snType="rounded"
        name="synopsis"
        rows="5"
        formControlName="synopsis"
        [ngClass]="{'is-invalid':!form.controls['synopsis'].valid && form.controls['synopsis'].touched  }">
    </textarea>
  </sn-form-group>

  <!-- Permission Field -->
  <sn-form-group snExtraClasses="mb-3">
    <label sn-form-label for="permission">Permission</label>
    <div class="flex flex-row gap-2 items-center mb-1 px-2">
      <input
          id="private"
          class="form-check-input"
          name="permission"
          formControlName="permission"
          type="radio"
          [value]="Permission.PRIVATE" checked>
      <label class="text-sm text-gray-700" for="private">
        {{ Permission.PRIVATE | titlecase }}
      </label>
    </div>
    <div class="flex flex-row gap-2 items-center px-2">
      <input
          id="public"
          class="form-check-input"
          name="permission"
          formControlName="permission"
          type="radio"
          [value]="Permission.PUBLIC">
      <label class="text-sm text-gray-700" for="public">
        {{ Permission.PUBLIC | titlecase }}
      </label>
    </div>
  </sn-form-group>

  <sn-form-group snExtraClasses="mb-3">
    <label sn-form-label for="categories">Categories</label>
    <sn-user-tag-input
        id="categories"
        [maxTagCount]="10"
        [placeholder]="'Add search tags'"
        (onAdd)="onAddCategory($event)"
        (onRemove)="onRemoveCategory($event)">
    </sn-user-tag-input>
  </sn-form-group>
</fieldset>