<fieldset [formGroup]="form">
  <!-- Title Field Input -->
  <div class="flex flex-col justify-center grow w-full mb-3">
    <label class="text-gray-500 text-xs mb-1 ps-1" for="title">Title</label>
    <input
        class="border py-2 px-4 bg-white rounded-full text-sm focus:outline-none focus:border-gray-400 text-gray-700"
        type="text" 
        name="title"
        id="title"
        formControlName="title"
        [ngClass]="{'is-invalid':!form.controls['title'].valid && form.controls['title'].touched  }" />
  </div>

  <!-- Synopsis Field Input -->
  <div class="flex flex-col justify-center grow w-full mb-3">
    <label class="text-gray-500 text-xs mb-1 ps-1" for="synopsis">Synopsis</label>
    <textarea
        class="border py-2 px-4 bg-white rounded-xl text-sm focus:outline-none focus:border-gray-400 text-gray-700"
        name="synopsis"
        rows="5"
        formControlName="synopsis"
        [ngClass]="{'is-invalid':!form.controls['synopsis'].valid && form.controls['synopsis'].touched  }">
    </textarea>
  </div>

  <!-- Permission Field -->
  <div class="flex flex-col justify-center grow w-full mb-3">
    <span class="text-gray-500 text-xs mb-1 ps-1">Permission</span>
    <div class="flex flex-row gap-2 items-center mb-1">
      <!-- <sn-radio
        name="permission"
        shape="rounded"
        color="primary"
        size="xsmall"
        formControlName="permission"
        [value]="Permission.PRIVATE"
        [label]="Permission.PRIVATE | titlecase">
      </sn-radio> -->
      <input
          id="private"
          class="form-check-input"
          name="permission"
          formControlName="permission"
          type="radio"
          [value]="Permission.PRIVATE" checked>
      <label class="text-sm text-gray-700" for="private">
        {{ Permission.PRIVATE | titlecase }}
      </label>
    </div>
    <div class="flex flex-row gap-2 items-center">
      <input
          id="public"
          class="form-check-input"
          name="permission"
          formControlName="permission"
          type="radio"
          [value]="Permission.PUBLIC">
      <label class="text-sm text-gray-700" for="public">
        {{ Permission.PUBLIC | titlecase }}
      </label>
    </div>
  </div>

  <div class="flex flex-col justify-center grow w-full mb-3">
    <label class="text-gray-500 text-xs mb-1 ps-1" for="categories">Categories</label>
    <sn-user-tag-input
        id="categories"
        [maxTagCount]="10"
        [placeholder]="'Add search tags'"
        (onAdd)="onAddCategory($event)"
        (onRemove)="onRemoveCategory($event)">
    </sn-user-tag-input>
  </div>
</fieldset>