<fieldset [formGroup]="form">
  <!-- Title Field Input -->
  <div class="form-group">
    <label for="title">Title</label>
    <input
        class="form-control"
        type="text" name="title"
        formControlName="title"
        [ngClass]="{'is-invalid':!form.controls['title'].valid && form.controls['title'].touched  }" />
  </div>

  <!-- Synopsis Field Input -->
  <div class="form-group">
    <label for="synopsis">Synopsis</label>
    <textarea
        class="form-control"
        name="synopsis"
        formControlName="synopsis"
        [ngClass]="{'is-invalid':!form.controls['synopsis'].valid && form.controls['synopsis'].touched  }">
    </textarea>
  </div>

  <!-- Permission Field -->
  <div class="form-group">
    Permission
    <div class="form-check">
      <input
          id="private"
          class="form-check-input"
          name="permission"
          formControlName="permission"
          type="radio"
          [value]="Permission.PRIVATE" checked>
      <label class="form-check-label" for="private">
        {{ Permission.PRIVATE | titlecase }}
      </label>
    </div>
    <div class="form-check">
      <input
          id="public"
          class="form-check-input"
          name="permission"
          formControlName="permission"
          type="radio"
          [value]="Permission.PUBLIC">
      <label class="form-check-label" for="public">
        {{ Permission.PUBLIC | titlecase }}
      </label>
    </div>
  </div>

  <div class="form-group">
    <label for="categories">Categories</label>
    <sn-tag-input
        id="categories"
        [placeholder]="'Add search tags'"
        (onAdd)="onAddCategory($event)"
        (onRemove)="onRemoveCategory($event)">
    </sn-tag-input>
  </div>
</fieldset>