<div class="flashcard-set-viewer-flipper mb-3">
  <sn-user-flashcard>
    <sn-user-flipcard [(isFlipped)]="isFlipped">
      <sn-user-flipcard-front>
        <div class="flashcard-content p-4">
          <markdown 
              class="markdown-body" 
              [data]="flashcard?.frontContent">
          </markdown>
        </div>
      </sn-user-flipcard-front>
      <sn-user-flipcard-back>
        <div class="flashcard-content p-4">
          <markdown 
              class="markdown-body" 
              [data]="flashcard?.backContent">
          </markdown>
        </div>
      </sn-user-flipcard-back>
    </sn-user-flipcard>
  </sn-user-flashcard>
</div>