<form (ngSubmit)="add(form.controls['tag'].value)" [formGroup]="form" novalidate>
<span class="form-control">
  <span>
    <ng-container *ngFor="let item of items">
      <span [ngClass]="tagStyle" (click)="remove(item)">
        <span class="oi oi-circle-x oi-margin"></span>
        {{ item }}
      </span>
    </ng-container>
  </span>

  <input
      *ngIf="items.length < maxTagCount"
      type="text"
      name="tag"
      formControlName="tag"
      [ngClass]="formControlStyle"
      [placeholder]="placeholder"
      (keyup)="onKeyup($event)"
      (keydown)="onKeydown($event)"/>
  </span>
</form>
