<div class="flex flex-row w-full content-start flex-wrap">
  <div class="w-full sm:w-full md:w-full lg:w-full xl:w-1/2">
    <sn-form-group snExtraClasses="mb-3" [formGroup]="form">
      <label sn-form-label for="name">Document Name <span class="text-danger-500">*</span></label>
      <input 
          sn-form-control
          id="document-title"
          formControlName="name" 
          type="text"
          (ngModelChange)="documentNameChange($event)" />
    </sn-form-group>

    <div class="mb-3">
      <h5 class="text-gray-700 font-bold text-xl mt-2">Search Topics</h5>
      <hr class="mb-2 mt-2">
    </div>

    <sn-form-group snExtraClasses="mb-3">
      <label sn-form-label for="search-topics">Keywords</label>
      <ng-select 
          class="sn-typeahead"
          [items]="topics$ | async"
          [(ngModel)]="selected"
          [typeahead]="topicsTypeAhead$"
          (ngModelChange)="onSelectTopic($event)"
          bindLabel="title">
      </ng-select>
    </sn-form-group>
    <div cdkDropList
        [cdkDropListData]="[(selectedDocumentTopic$ | async)]"
        [cdkDropListConnectedTo]="documentId$ | async">
      <div>
        <sn-user-document-builder-topic-container 
            [documentTopic]="selectedDocumentTopic$ | async">
        </sn-user-document-builder-topic-container>
      </div>
    </div>
  </div>
  <div class="w-full sm:w-full md:w-full lg:w-full xl:w-1/2 p-4">
    <sn-user-document-builder-document-container></sn-user-document-builder-document-container>
  </div>
</div>
