<div class="flex flex-row w-full gap-4">
  <div class="w-1/2">
    <div class="flex flex-col justify-center grow w-full mb-3" [formGroup]="form">
      <label class="text-gray-500 text-xs mb-1 ps-1" for="name">Document Name <span class="text-danger-500">*</span></label>
      <input 
          id="document-title"
          formControlName="name" 
          type="text" 
          class="border py-2 px-4 bg-white rounded-full text-sm focus:outline-none focus:border-gray-400 text-gray-700" 
          (ngModelChange)="documentNameChange($event)" />
    </div>

    <div class="mb-3">
      <h5 class="text-gray-700 font-bold text-xl mt-2">Search Topics</h5>
      <hr class="mb-2 mt-2">
    </div>
    <div class="flex flex-col justify-center grow w-full mb-3">
      <label class="text-gray-500 text-xs mb-1 ps-1" for="search-topics">Keywords</label>
      <ng-select 
          class="sn-typeahead"
          [items]="topics$ | async"
          [(ngModel)]="selected"
          [typeahead]="topicsTypeAhead$"
          (ngModelChange)="onSelectTopic($event)"
          bindLabel="title">
      </ng-select>
    </div>
    <div cdkDropList
        [cdkDropListData]="[(selectedDocumentTopic$ | async)]"
        [cdkDropListConnectedTo]="documentId$ | async">
      <div>
        <sn-user-document-builder-topic-container 
            [documentTopic]="selectedDocumentTopic$ | async">
        </sn-user-document-builder-topic-container>
      </div>
    </div>
  </div>
  <div class="w-1/2">
    <sn-user-document-builder-document-container></sn-user-document-builder-document-container>
  </div>
</div>
