.auth-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: row;

  .left-col,
  .right-col {
    flex: 1 1 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

  }

  .left-col {
    .auth-marketing {
      max-width: 650px;
      height: 100%;
      padding: 3rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .logo {
        font-family: 'Tinos', serif;
        color: #158cba;
        margin:  1rem 0;
        display: table;

        .logo-text {
          font-size: 64px;
          display: table-cell;
          vertical-align: bottom;
          margin-bottom: 16px;
        }

        .logo-image {
          img {
            display: block;
            width: 90px;
            height: 90px;
          }
        }
      }
    }
  }

  .right-col {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .auth-outlet {
      margin: 2rem;
      width: 50%;
    }
  }
}

@media only screen and (max-width : 992px) {
  .auth-layout {
    flex-direction: column;

    .left-col,
    .right-col {
      width: 100%;
    }
  }
}

@media only screen and (max-width : 480px) {
  .auth-layout {
    display: block;
    .right-col {
      .auth-outlet {
        width: 90%;
      }
    }
  }
}
