<div class="auth-layout" [@fadeAnimation]>
  <div class="left-col">
    <div class="auth-marketing">
      <div class="logo">
        <span class="logo-image">
          <img src="assets/images/simple-notes-logo-blue.svg" class="img-responsive">
        </span>
        <span class="logo-text">
          Simple Notes
        </span>
      </div>
      <sn-auth-marketing></sn-auth-marketing>
      <div class="socials">
        
      </div>
    </div>
  </div>
  <div class="right-col bg-primary">
    <div class="auth-outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
