<div class="table-responsive">
  <table class="table table-striped mb-0">
    <thead>
      <tr>
        <th>Title</th>
        <th>Synopsis</th>
        <th>Modified</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="!sections || sections.length === 0">
      <tr class="bg-white">
        <td colspan="6">
          <sn-empty-data 
              message="No sections found!"
              [extraContent]="createNewButton">
          </sn-empty-data>
          <ng-template #createNewButton>
            <a [routerLink]="['../sections', 'create']" class="btn btn-success text-light">Create a section</a>
          </ng-template>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="sections">
      <tr *ngFor="let section of sections">
        <td>{{ section.title }}</td>
        <td>{{ section.synopsis }}</td>
        <td>{{ section.updatedAt | date:short }}</td>
        <td class="text-right">
          <button 
              role="button" 
              class="btn btn-outline-primary btn-sm btn-border-none" 
              [routerLink]="['../sections', section.id, 'editor']">
            <i class="fas fa-edit"></i>
          </button>
          <button 
              role="button" 
              class="btn btn-outline-primary btn-sm btn-border-none" 
              (click)="edit(section)">
            <i class="fas fa-info-circle"></i>
          </button>
          <button 
              mwlConfirmationPopover
              placement="left"
              (confirm)="delete(section.id)"
              role="button" 
              class="btn btn-outline-primary btn-sm btn-border-none">
            <i class="far fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>