.color-input {
  .color-picker {
    position: relative;

    color-twitter {
      position: absolute;
      top: 16px;
      left: 0;
    }
  }

  .color-picker-input-container {
    .color-picker-input {
      border-radius: 4px;
    }
  }
}

.color-swatch-input {
  border: 0;
  outline: 0;
  width: 72px;
  border-radius: 4px;
  
}