<div *ngIf="!(isPageLoading$ | async) && (searchTopicsResult$ | async)" class="container-navbar-adjust container-fluid m-0 p-0 height-full" [@fadeAnimation]>
  <div class="row m-0 p-0 height-full">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-8 col-xl-7 p-0 m-0 border-right-1">
      <!-- Topics list -->
      <div *ngIf="(searchTopicsResult$ | async) || []">
        <h4 class="m-0 p-3 border-bottom-1">
          <span class="font-weight-bold text-primary">Topics</span>
          <!-- Header Buttons -->
          <span class="float-right" style="margin-top: -3px;">
            <sn-debounced-search
                debounceTime="500"
                [isSearching]="isSearching"
                (onSearch)="onSearchTopics($event)">
            </sn-debounced-search>
          </span>
        </h4>
        <div>
          <sn-topic-list
              [topics]="(searchTopicsResult$ | async)?.elements"
              (onDelete)="onDelete($event)">
          </sn-topic-list>
          <div class="p-3">
            <sn-paginator
                [page]="(searchTopicsResult$ | async)"
                (onNextPage)="onGoToPage($event)"
                (onPreviousPage)="onGoToPage($event)"
                (onGoToPage)="onGoToPage($event)">
            </sn-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
