<div class="container-navbar-adjust container" [@fadeAnimation]>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <!-- Page Header -->
      <sn-page-header heading="Current Topics"></sn-page-header>

      <!-- Topics list -->
      <div *ngIf="(searchTopicsResult$ | async) || []" class="card">
        <!-- <div class="card-header">Current Topics</div> -->
        <div class="card-body">
          <h5 class="m-0 p-0 topic-list-heading">
            Topics
            <!-- Header Buttons -->
            <span class="float-right">
              <sn-debounced-search
                  debounceTime="500"
                  [isSearching]="isSearching"
                  (onSearch)="onSearchTopics($event)">
              </sn-debounced-search>
            </span>
          </h5>
          <sn-topic-list
              [topics]="(searchTopicsResult$ | async)?.elements"
              (onDelete)="onDelete($event)">
          </sn-topic-list>
          <sn-paginator
              [page]="(searchTopicsResult$ | async)"
              (onNextPage)="onGoToPage($event)"
              (onPreviousPage)="onGoToPage($event)"
              (onGoToPage)="onGoToPage($event)">
          </sn-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
