<div class="row">
  <div class="col-sm-12">
    <h5 class="text-dark font-weight-bold mt-2">Your Document Structure</h5>
    <hr class="my-2" />
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="document-builder-document-container p-3">
      <div
          class="document-builder-document-container-topics"
          cdkDropList
          [id]="''+(document$ | async)?.id"
          [cdkDropListData]="(document$ | async)?.documentTopics"
          [cdkDropListConnectedTo]="(documentId$ | async)"
          (cdkDropListDropped)="dropTopic($event)">
        <ng-container *ngIf="(document$ | async)?.documentTopics?.length; else noTopicsInDocumentTemplate">
          <div *ngFor="let documentTopic of (document$ | async)?.documentTopics" class="mb-3">
            <sn-document-builder-document-topic [documentTopic]="documentTopic"></sn-document-builder-document-topic>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #noTopicsInDocumentTemplate>
  <sn-empty-data 
      message="There are no topics yet for this document">
  </sn-empty-data>
</ng-template>
