<div class="row p-0 m-0 height-full" [@fadeAnimation]>
  <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6 p-0 m-0 border-right-1">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="m-0 p-3 border-bottom-1">
          <span class="font-weight-bold text-primary">Roles</span>
          <!-- Header Buttons -->
          <span class="float-right">
            <button (click)="onCreate()" role="button" class="btn btn-sm btn-outline-dark btn-border-none">
              <i class="far fa-file-alt icon-margin"></i>
              New
            </button>
          </span>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <sn-admin-roles-list
            [roles]="allRoles$ | async"
            (onEdit)="onEdit($event)"
            (onDelete)="onDelete($event)"
            (onUndelete)="onUndelete($event)">
        </sn-admin-roles-list>
      </div>
    </div>
  </div>
</div>
