.active {
  background: #F0F0F0;
  border-color: rgba(0, 0, 0, 0.125);
}

.navbar-side-menu {
  .navbar-side-menu-list {
    border: 0 !important;
    .navbar-side-menu-item {
      border-left-width: 0;
      border-right-width: 0;
      border-top-width: 0;
    }
  }
}