<div class="navbar-side-menu">
  <ul class="list-group navbar-side-menu-list text-dark">
    <li 
        *ngFor="let link of links"
        class="list-group-item p-0 navbar-side-menu-item" 
        routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}"
        (mouseenter)="preloadBundle(link.routerLink)">
      <a [routerLink]="link.routerLink" (click)="navigateTo(link.routerLink)" class="px-4 py-3 d-block">
        <i 
          [tooltip]="link.tooltip" 
          placement="right" 
          container="body"
          [delay]="tooltipDelay"
          [ngClass]="link.iconClasses">
        </i>
        <span>{{ link.label }}</span>
      </a>
    </li>
  </ul>
</div>
