.active {
  background: #F0F0F0;
}

.navbar-side-menu {
  .navbar-side-menu-list {
    border: 0 !important;
    
    .navbar-side-menu-item {
      border-bottom-color: rgba(0, 0, 0, 0.125);
      border-bottom-width: 1px;
      border-left-width: 0;
      border-right-width: 0;
      border-top-width: 0;
      
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
