<fieldset [formGroup]="form">
  <!-- Title Field Input -->
  <sn-form-group snExtraClasses="mb-3">
    <label sn-form-label for="title">Title</label>
    <input
        sn-form-control
        type="text" name="title"
        formControlName="title"
        [ngClass]="{'is-invalid':!form.controls['title']?.valid && form.controls['title']?.touched  }" />
  </sn-form-group>

  <!-- Synopsis Field Input -->
  <sn-form-group snExtraClasses="mb-3">
    <label sn-form-label for="synopsis">Synopsis</label>
    <textarea
        sn-form-control
        snType="rounded"
        rows="6"
        name="synopsis"
        formControlName="synopsis"
        [ngClass]="{'is-invalid':!form.controls['synopsis']?.valid && form.controls['synopsis']?.touched  }">
    </textarea>
  </sn-form-group>
</fieldset>