<div class="card" [@fadeAnimation]>
  <div class="card-body p-5">
    <h1 class="password-request-title">Forgot Your Password?</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
      <!-- Message Result Alert -->
      <div *ngIf="(passwordRequestResetResult | async)">
        <div class="alert alert-success">{{ (passwordRequestResetResult | async)?.message }}</div>
      </div>

      <!-- Email Input -->
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" formControlName="email" />
      </div>

      <!-- Submit Button -->
      <div>
        <button 
            class="col-sm-12 btn btn-primary mt-2"
            [disabled]="form.invalid">
          Request Password Reset
        </button>
      </div>
    </form>
    <p class="password-request-sign-on-link">Or <a [routerLink]="['/auth', 'login']">sign in!</a></p>
  </div>
</div>