.todo-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  z-index: 300003 !important;
  
  .btn-remove {
    cursor: pointer;
  }
}

.cdk-drag-placeholder {
  background: transparent;
  opacity: 0;
}

.drag-handle {
  font-size: 0.7rem;
  cursor: grab;

  :active {
    cursor: grabbing;
  }
}
