<div [formGroup]="form.get('account')">
  <div class="form-group">
    <label>Plan</label>
    <ng-container *ngIf="plans">
      <select 
          class="form-control" 
          formControlName="plan"
          [ngClass]="{ 'is-invalid':!form.get('account').get('plan').valid && form.get('account').get('plan').touched  }">
        <option *ngFor="let plan of plans"
            [value]="plan.id">
          {{ plan.name }}
        </option>
      </select>
    </ng-container>
  </div>
  <div class="form-group mb-0 d-flex flex-row justify-content-between">
    <label>Account Enabled</label>
    <sn-checkbox
        shape="rounded"
        color="primary"
        size="xsmall"
        formControlName="isConfirmed">
    </sn-checkbox>
  </div>
  <div class="form-group mb-0 d-flex flex-row justify-content-between">
    <label>Email Confirmed</label>
    <sn-checkbox
        shape="rounded"
        color="primary"
        size="xsmall"
        formControlName="isConfirmed">
    </sn-checkbox>
  </div>
</div>

