<div *ngIf="!flashcardSets || flashcardSets.length === 0" class="documents-no-data p-4 border-b">
  <sn-empty-data 
      message="No flashcard sets found!"
      [extraContent]="createNewButton">
  </sn-empty-data>
  <ng-template #createNewButton>
    <sn-button 
        snType="outline"
        (click)="create()">
      Create a flashcard set
    </sn-button>
  </ng-template>
</div>

<sn-list *ngIf="flashcardSets">
  <sn-list-item *ngFor="let flashcardSet of flashcardSets" snExtraClasses="border-b">
    <sn-list-item-title [snExtraContent]="flashcardSetTitleExtraContentTemplate">
      <a sn-link [routerLink]="[]">{{ flashcardSet?.title | titlecase }}</a>
      <ng-template #flashcardSetTitleExtraContentTemplate>
        <div class="flex flex-row gap-1 items-center">
          <sn-button 
              snType="blank"
              (click)="edit(flashcardSet)">
            <ng-icon name="heroPencil" size="1rem"></ng-icon>
          </sn-button>
          <sn-button 
              snType="blank"
              (click)="view(flashcardSet)">
            <ng-icon name="heroEye" size="1rem"></ng-icon>
          </sn-button>
          <sn-button 
              snType="blank"
              mwlConfirmationPopover
              placement="left"
              (confirm)="delete(flashcardSet.id)">
            <ng-icon name="heroTrash" size="1rem"></ng-icon>
          </sn-button>
        </div>
      </ng-template>
    </sn-list-item-title>
    <sn-list-item-subtitle>{{ flashcardSet?.synopsis }}</sn-list-item-subtitle>
    <sn-list-item-footer>
      <ng-icon name="heroClock" size="0.8rem"></ng-icon>&nbsp;&nbsp; {{ flashcardSet.updatedAt | date:'medium' }}
    </sn-list-item-footer>
  </sn-list-item>
</sn-list>
