<div [formGroup]="form.get('address')">
  <!-- Street Input -->
  <div class="form-group">
    <label for="street">Street</label>
    <input class="form-control" formControlName="street" name="street" type="text" id="street" autocomplete="off">
    <small 
        class="text-danger text-bold" 
        *ngIf="
          form.get('address').get('street').touched  
          && form.get('address').get('street').hasError('required')">
      Street is required!
    </small>
  </div>

  <!-- Street 2 Input -->
  <div class="form-group">
    <label for="street2">Street 2</label>
    <input class="form-control" formControlName="street2" name="street2" type="text" id="street2" autocomplete="off">
  </div>
  
  <!-- City, State Zip Inputs-->
  <div class="row">
    <div class="col-sm-4">
      <div classs="form-group">
        <label for="city">City</label>
        <input class="form-control" formControlName="city" name="city" type="text" id="city" autocomplete="off">
        <small 
            class="text-danger text-bold" 
            *ngIf="
              form.get('address').get('city').touched  
              && form.get('address').get('city').hasError('required')">
          City is required!
        </small>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="state">State</label>
        <select class="form-control" formControlName="state" name="state" id="state" autocomplete="off">
          <option
              *ngFor="let state of states"
              [value]="state.abbr">
            {{ state.abbr }}
          </option>
        </select>
        <small 
            class="text-danger text-bold" 
            *ngIf="
              form.get('address').get('state').touched  
              && form.get('address').get('state').hasError('required')">
          State is required!
        </small>
      </div>
    </div>
    
    <div class="col-sm-4">
      <div class="form-group">
        <label nzSpan="24" nzFor="zip">Zip</label>
        <input class="form-control" formControlName="zip" name="zip" type="text" id="zip" autocomplete="off">
        <small 
            class="text-danger text-bold" 
            *ngIf="
              form.get('address').get('zip').touched  
              && form.get('address').get('zip').hasError('required')">
          Zip is required!
        </small>
      </div>
    </div>
  </div>
</div>