<div [formGroup]="form.get('account')">
  <sn-form-group snExtraClasses="mb-3">
    <label sn-form-label for="plan">Plan</label>
    <ng-container *ngIf="plans">
      <select 
          sn-form-control
          id="plan"
          formControlName="plan"
          [ngClass]="{ 'is-invalid':!form.get('account').get('plan').valid && form.get('account').get('plan').touched  }">
        <option *ngFor="let plan of plans"
            [value]="plan.id">
          {{ plan.name }}
        </option>
      </select>
    </ng-container>
  </sn-form-group>
  <sn-form-group snExtraClasses="mb-3 flex-row">
    <sn-checkbox
        id="isConfirmed"
        shape="rounded"
        color="primary"
        size="xsmall"
        label="Account Enabled"
        formControlName="isEnabled">
    </sn-checkbox>
  </sn-form-group>
  <sn-form-group snExtraClasses="mb-3">
    <sn-checkbox
        id="isConfirmed"
        shape="rounded"
        color="primary"
        size="xsmall"
        label="Email Confirmed"
        formControlName="isConfirmed">
    </sn-checkbox>
  </sn-form-group>
</div>

