
<ng-container [ngSwitch]="calendarEventView">
  <ng-container *ngSwitchCase="'display'">
    <form [formGroup]="form" (ngSubmit)="onUpdate(form.value)" novalidate>
      <sn-user-todo-list-details
          [todoList]="data$ | async"
          [responseMessage]="responseMessage$ | async">
      </sn-user-todo-list-details>
      <div class="flex flex-row gap-1 justify-end items-center">
        <sn-button (click)="onUpdate(form.value)">
          Save
        </sn-button>
        <sn-button 
            snType="outline"
            (click)="onEdit()">
          Edit
        </sn-button>
        <sn-button 
            snType="outline"
            mwlConfirmationPopover
            placement="left"
            (confirm)="onDelete()">
          Delete
        </sn-button>
        <sn-button 
            snType="outline"
            (click)="onCancel()">
          Cancel
        </sn-button>
      </div>
    </form>
  </ng-container>
  <ng-container *ngSwitchCase="'edit'">
    <form [formGroup]="form" (ngSubmit)="onUpdate(form.value)" novalidate>
      <sn-user-todo-list-update
        [todoList]="data$ | async"
        [responseMessage]="responseMessage$ | async">
      </sn-user-todo-list-update>
      <div class="flex flex-row justify-end gap-1">
        <sn-button (click)="onUpdate(form.value)">
          Save
        </sn-button>
        <sn-button 
            snType="outline"
            (click)="onEdit()">
          Cancel
        </sn-button>
      </div>
    </form>
  </ng-container>
</ng-container>