<div class="navbar-side-container">
  <div class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <!-- Navbar Brand -->
      <a [routerLink]="['/']" class="navbar-brand mx-auto">
        <img src="assets/images/simple-notes-logo.svg" width="30" height="30" alt="">
        <span *ngIf="(currentPanelState$ | async) === LayoutSidePanelState.OPEN" class="brand-text">Simple Notes</span>
      </a>
    </div>
  </div>

  <div class="navbar-side-menu">
    <ul class="list-group navbar-side-menu-list text-dark">
      <li 
          *ngFor="let link of links"
          class="list-group-item p-0 navbar-side-menu-item" 
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        <a [routerLink]="link.routerLink" class="px-4 py-3 d-block">
          <i [ngClass]="link.iconClasses"></i>
          <span *ngIf="(currentPanelState$ | async) === LayoutSidePanelState.OPEN">{{ link.label }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
