<nav class="navbar-side bg-light" [ngClass]="{ 'navbar-side-show' : 5 === 5 }">
  <h3 class="font-weight-bold text-right mb-3">Navigation</h3>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <hr />
      <a class="nav-link text-dark" [routerLink]="['dashboard']">
        <i class="fas fa-chart-bar icon-margin"></i>
        Dashboard <span class="sr-only">(current)</span>
      </a>
      <hr />
    </li>
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link text-dark" [routerLink]="['topics', 'view']">
        <i class="fas fa-book icon-margin"></i>
        Topics <span class="sr-only">(current)</span>
      </a>
      <hr />
    </li>
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link text-dark" [routerLink]="['documents', 'builder']">
        <i class="far fa-file-alt icon-margin"></i>
        Documents
      </a>
      <hr />
    </li>
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link text-dark" [routerLink]="['calendar']">
        <i class="far fa-calendar-alt icon-margin"></i>
        Calendar
      </a>
      <hr />
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="#">
        <i class="far fa-user-circle icon-margin"></i>
        Account
      </a>
      <ul class="nav nav-submenu flex-column">
        <li
            class="ml-4 nav-submenu-item"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
          <a class="text-dark" [routerLink]="['accounts', 'settings']">Account Settings</a>
        </li>
        <li 
            class="ml-4 nav-submenu-item"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
          <a class="text-dark" [routerLink]="['/auth', 'logout']">Logout</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
