<div class="container" [@fadeAnimation]>
  <div class="row">
    <div class="col-sm-12 calendar-container">
      <full-calendar
          snCalendarLoading
          #calendar 
          [options]="calendarOptions">
      </full-calendar>
      <div 
          class="calendar-events-loading" 
          *ngIf="areCalendarEventsLoading"
          [@fadeAnimation]>
        <sn-spinner [message]="'Loading calendar events...'"></sn-spinner>
      </div>
    </div>
  </div>
</div>
<sn-drawer></sn-drawer>
