<div class="debounced-search" [ngClass]="{ 'show' : isInputShown }">
  <span class="debounced-search-spinner" *ngIf="isSearching" [@fadeAnimation]>
    <sn-user-spinner isSpinning="true"></sn-user-spinner>
  </span>
  <input class="debounced-search-input" type="text" [(ngModel)]="searchTerm" (keyup)="onSearchInputKeyUp($event)" />
  <div class="btn btn-sm btn-outline-dark btn-border-none debounced-search-icon" (click)="onToggleSearchInput()">
    <i class="fas fa-search icon-margin"></i>
    Search
  </div>
</div>