<div *ngIf="todoList" class="list-details">
  <div class="list-details-title">
    <h5 class="text-primary p-0 m-0">
      <a [routerLink]="['/topics', todoList.id, 'details']">{{ todoList.title }}</a>
    </h5>
    <div class="action-buttons">
      <a (click)="isTodoListVisible = !isTodoListVisible" class="btn btn-outline-primary btn-sm btn-border-none" [routerLink]="">
        <ng-container *ngIf="isTodoListVisible; else eyeSlashIconTemplate">
          <i class="fas fa-eye"></i>
        </ng-container>
        <ng-template #eyeSlashIconTemplate>
          <i class="far fa-eye-slash"></i>
        </ng-template>
      </a>
    </div>
  </div>
  <!-- <p class="list-details-description text-dark font-italic p-0 m-0">{{ topic.synopsis }}</p> -->
  <hr class="my-1" />
  <p class="list-details-timestamp text-dark mb-0  d-flex flex-row">
    <span class="mr-4">
      <i class="far fa-calendar-alt icon-margin"></i>&nbsp; {{ todoList?.startedBy | date: 'MM/dd/yyyy' }} - {{ todoList?.completedBy | date: 'MM/dd/yyyy' }}
    </span>
    <span>
      <i class="far fa-clock"></i>&nbsp;&nbsp; {{ todoList.updatedAt | date:'medium' }}
    </span>
  </p>
  <div class="todo-list-progress-container my-2">
    <sn-todo-list-progress [todoList]="todoList"></sn-todo-list-progress>
  </div>
  <div [@slideUpDownAnimation]="{ value: isTodoListVisible ? 'up' : 'down' }" class="mt-3">
    <sn-todos-form 
        [todos]="todoList?.todos"
        (onUpdate)="onUpdateTodos($event)">
    </sn-todos-form>
  </div>
</div>
