<div class="bg-primary login-container">

  <!-- Login Header -->
  <div id="login-header">
    <div class="col-center col-xs-12">
      <div class="logo">
        <span class="logo-image">
          <img src="assets/images/simple-notes-logo.svg" class="img-responsive">
        </span>
        <span class="logo-text text-center">
          Simple Notes
        </span>
      </div>
    </div>
  </div>
  <!-- End Login Header -->

  <!-- Login Form -->
  <div id="login-form">
    <div class="col-center card col-xs-12 col-sm-8 col-md-6 col-lg-3">
      <div class="card-body">
        <h3>Login</h3>
        <hr />
        <div *ngIf="message" class="alert alert-danger"><strong>Error</strong> {{ message }}</div>
        <form (ngSubmit)="login(form.value)" [formGroup]="form" novalidate>
          <fieldset style="margin-top: 16px">
            <!-- Username Input -->
            <div class="form-group">
              <label class="sr-only" for="username">Username</label>
              <input
                  type="text"
                  class="form-control"
                  name="username"
                  placeholder="Username"
                  formControlName="username"
                  [ngClass]="{'is-invalid':!form.controls['username'].valid && form.controls['username'].touched  }">
            </div>
            <!-- Password Input -->
            <div class="form-group">
              <label class="sr-only" for="password">Password</label>
              <input
                  type="password"
                  class="form-control"
                  name="password"
                  placeholder="Password"
                  formControlName="password"
                  [ngClass]="{'is-invalid':!form.controls['password'].valid && form.controls['password'].touched  }">
            </div>
          </fieldset>
          <!-- Submit Button -->
          <hr />
          <button role="button" type="submit" class="btn btn-sm btn-success float-right" [disabled]="!form.valid">
            <span class="oi oi-account-login" style="margin-right: 8px;"></span>
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
  <!-- End Login Form -->

</div>
