<div class="p-4">
  <h3 class="font-bold text-primary-500 text-right text-2xl mb-3">Update Document</h3>
  <hr class="mb-3" />
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <!-- Response Message -->
    <div *ngIf="(responseMessage$ | async)" [@showHide] class="bg-info-100 rounded-xl text-info-700 p-4 mb-4" role="alert">
      <p class="font-bold">{{ (responseMessage$ | async)?.status | titlecase }}</p>
      <p>{{ (responseMessage$ | async)?.message }}</p>
    </div>

    <sn-user-document-builder-form></sn-user-document-builder-form>
    
    <div class="form-group text-right p-3">
      <button 
          class="border border-primary-500 hover:bg-white bg-primary-500 text-white hover:text-primary-500 font-bold transition-colors rounded-full py-2 px-4 text-xs me-1" 
          type="submit" 
          [disabled]="form.invalid">
        Save
      </button>
      <button 
          class="cursor-pointer border border-primary-500 hover:bg-primary-500 text-primary-500 hover:text-white font-bold transition-colors rounded-full py-2 px-4 text-xs" 
          type="button" 
          (click)="onClose()">
        Cancel
      </button>
    </div>
  </form>
</div>
