<form 
    class="bg-white"
    novalidate 
    [formGroup]="form" 
    [@fadeAnimation]
    (ngSubmit)="submitForm(form.value)">
  <h1 class="text-gray-800 font-bold text-2xl mb-1">Hello Again!</h1>
  <p class="text-sm font-normal text-gray-600 mb-4">Welcome Back</p>

  <!-- Feedback Messages -->
  <ng-container [@fadeAnimation] *ngIf="authenticationState && authenticationState.errorMessage">
    <sn-alert
        snColor="danger"
        snTitle="Error"
        [snMessage]="authenticationState?.errorMessage">
    </sn-alert>
    
    <!-- <div class="bg-danger-100 rounded-xl text-danger-700 p-4 mb-4" role="alert">
      <p class="font-bold">Error</p>
      <p>{{ authenticationState.errorMessage }}</p>
    </div> -->
  </ng-container>
  <ng-container [@fadeAnimation] *ngIf="(queryParamMessage$ | async)">
    <div class="bg-primary-100 rounded-xl text-primary-700 p-4 mb-4" role="alert">
      <p class="font-bold">Success</p>
      <p>{{ authenticationState.errorMessage }}</p>
    </div>
  </ng-container>
  
  <!-- Username Input -->
  <div class="flex items-center border py-2 px-3 rounded-full mb-4">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
    </svg>
    <input 
        class="pl-2 outline-none border-none" 
        type="text" 
        name="username" 
        id="username" 
        placeholder="Username"
        formControlName="username" />
  </div>

  <!-- Password Input -->
  <div class="flex items-center border py-2 px-3 rounded-full mb-4">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
    </svg>
    <input 
        class="pl-2 outline-none border-none" 
        type="password" 
        name="password" 
        id="password" 
        placeholder="Password"
        formControlName="password" />
  </div>

  <!-- Buttons Controls -->
  <div class="block w-full mb-2">
    <button
        sn-button
        snType="solid"
        type="submit" 
        snExtraClasses="w-full"
        [disabled]="form.invalid">
      Login
    </button>
  </div>
  <div class="text-center">
    <span 
        class="text-sm ml-2 hover:text-primary-500 cursor-pointer"
        routerLink="/auth/password-request">
      Forgot Password ?
    </span>
  </div>
</form>
