.login-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.login-title {
  font-weight: bold;
}

.login-container .col-center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.logo {
  font-family: 'Tinos', serif;
  color: #FFF;
  margin: 32px 0;
  display: table;
  margin-left: auto;
  margin-right: auto;
}


.logo .logo-text {
  font-size: 64px;
  display: table-cell;
  vertical-align: bottom;
  margin-bottom: 16px;
}

.logo .logo-image > img {
  width: 90px;
  height: 90px;
}
