<div *ngIf="(searchFlashcardSetsResult$ | async)" class="w-full sm:w-full md:w-full lg:w-3/4 xl:w-2/3 m-0 p-0 md:h-full" [@fadeAnimation]>
  <!-- Documents List -->
  <div class="lg:border-r h-full" *ngIf="(searchFlashcardSetsResult$ | async) || []">
    <sn-section-header 
        snTitle="Flashcards"
        snExtraClasses="border-b"
        [snExtraContent]="flashcardsHeaderActionButtons">
    </sn-section-header>
    <ng-template #flashcardsHeaderActionButtons>
      <sn-debounced-search
          class="mr-1"
          debounceTime="500"
          [isSearching]="isSearching"
          (onSearch)="onSearchFlashcards($event)">
      </sn-debounced-search>
      <sn-button 
          snType="outline"
          (click)="onCreate()">
        <ng-icon name="heroDocument" size="1rem"></ng-icon>
        New
      </sn-button>
    </ng-template>
    <div class="block w-full border-b">
      <sn-user-flashcard-list
          [flashcardSets]="(searchFlashcardSetsResult$ | async)?.elements"
          (onDelete)="onDelete($event)"
          (onView)="onView($event)"
          (onEdit)="onEdit($event)"
          (onCreate)="onCreate()">
      </sn-user-flashcard-list>
      <div class="p-3">
        <sn-paginator
            [page]="(searchFlashcardSetsResult$ | async)"
            (onNextPage)="onGoToPage($event)"
            (onPreviousPage)="onGoToPage($event)"
            (onGoToPage)="onGoToPage($event)">
        </sn-paginator>
      </div>
    </div>
  </div>
</div>

<sn-drawer
    [drawerLocation]="DrawerLocation.RIGHT">
</sn-drawer>

<sn-overlay-content></sn-overlay-content>
