<div *ngIf="!(isPageLoading$ | async) && (searchFlashcardSetsResult$ | async)" class="w-2/3 m-0 p-0 h-full" [@fadeAnimation]>
  <!-- Documents List -->
  <div class="border-r h-full" *ngIf="(searchFlashcardSetsResult$ | async) || []">
    <h4 class="m-0 px-4 py-3 border-b flex flex-row items-center justify-between">
      <span class="font-bold text-primary-500 text-xl">Flashcards</span>
      <!-- Header Buttons -->
      <span class="flex flex-row items-center">
        <sn-debounced-search
            class="mr-1"
            debounceTime="500"
            [isSearching]="isSearching"
            (onSearch)="onSearchFlashcards($event)">
        </sn-debounced-search>
        <button 
            role="button" 
            class="flex items-center text-primary-500 text-xs px-4 py-2 border border-primary-500 rounded-full hover:bg-primary-500 hover:text-white cursor-pointer transition-colors"
            (click)="onCreate()">
          <ng-icon name="heroDocument" size="1rem"></ng-icon>
          New
        </button>
      </span>
    </h4>
    <div class="block w-full border-b">
      <sn-user-flashcard-list
          [flashcardSets]="(searchFlashcardSetsResult$ | async)?.elements"
          (onDelete)="onDelete($event)"
          (onView)="onView($event)"
          (onEdit)="onEdit($event)"
          (onCreate)="onCreate()">
      </sn-user-flashcard-list>
      <div class="p-3">
        <sn-paginator
            [page]="(searchFlashcardSetsResult$ | async)"
            (onNextPage)="onGoToPage($event)"
            (onPreviousPage)="onGoToPage($event)"
            (onGoToPage)="onGoToPage($event)">
        </sn-paginator>
      </div>
    </div>
  </div>
</div>

<sn-drawer
    [drawerLocation]="DrawerLocation.RIGHT">
</sn-drawer>

<sn-overlay-content></sn-overlay-content>
