<ng-container *ngIf="documentTopic; else noTopicTemplate">
  <div class="border rounded-xl p-4 document-builder-topic-container">
    <div class="document-builder-topic-container-title">
      <h4 class="font-bold text-primary-500 text-lg mb-1">{{ documentTopic?.topic?.title || 'test' }}</h4>
      <div 
        class="document-builder-topic-container-actions"
        cdkDrag
        [cdkDragRootElement]="TOPIC_DRAGGABLE_ROOT_ELEMENT"
        [cdkDragData]="drogDataAction">
      <span 
          class="text-dark-700 me-1" 
          cdkDragHandle
          (mousedown)="drogDataAction = DropAction.CLONE_CONTAINER_ONLY">
        <ng-icon name="heroArrowsPointingOut" size="1.25rem"></ng-icon>
      </span>
      <span 
          class="text-gray-700"
          mwlConfirmationPopover
          placement="left"
          (confirm)="removeTopic(documentTopic)">
        <ng-icon name="heroTrash" size="1.25rem"></ng-icon>
      </span>
    </div>
    </div>
    <p class="text-gray-500 text-sm italic mb-3">{{ documentTopic?.topic?.synopsis || '' }}</p>
    <ul 
        class="border rounded-xl bg-white"
        cdkDropList
        [id]="''+documentTopic?.topic?.id"
        [cdkDropListData]="documentTopic?.documentTopicSections"
        [cdkDropListConnectedTo]="topicIds$ | async"
        (cdkDropListDropped)="dropSection($event)">
      <ng-container *ngIf="documentTopic?.documentTopicSections?.length; else noSectionsTemplate">
        <li cdkDrag 
            class="px-4 py-2 text-md text-gray-700 border-b last:border-b-0"
            *ngFor="let documentTopicSection of documentTopic?.documentTopicSections">
          <sn-user-document-builder-document-section
              [documentTopicSection]="documentTopicSection"
              (onRemoveSection)="removeSection($event, documentTopic)">
          </sn-user-document-builder-document-section>
        </li>
      </ng-container>
    </ul>
  </div>
</ng-container>


<ng-template #noSectionsTemplate>
  <sn-empty-data message="No sections to displays"></sn-empty-data>
</ng-template>

<ng-template #noTopicTemplate>
  <sn-empty-data 
      message="No topic to display.  Please search and select one!">
  </sn-empty-data>
</ng-template>
