<ng-container *ngFor="let shortcut of shortcuts">
  <div class="flex flex-row justify-between items-center">
    <div class="keyboard-shortcut-details">
      <span class="text-sm mr-2">{{shortcut.action}}</span>
      <ng-container *ngIf="shortcut.shortcutId; else defaultShortcutTemplate">
        <span class="text-info-700 bg-info-100 border border-info-200 text-xs rounded-full px-2">{{ shortcut.shortcut }}</span>
      </ng-container>
      <ng-template #defaultShortcutTemplate>
          <span class="text-gray-700 bg-gray-100 border text-xs rounded-full px-2">{{ shortcut.defaultShortcut }}</span>
      </ng-template>
    </div>
    <div class="flex flex-row gap-1">
      <ng-container *ngIf="shortcut.shortcutId">
        <sn-button 
            snColor="danger"
            snType="blank"
            mwlConfirmationPopover
            placement="left"
            (confirm)="deleteShortcut(shortcut.shortcutId)">
          <ng-icon name="heroTrashSolid" size="1rem"></ng-icon>
        </sn-button>
      </ng-container>
      <sn-button 
          snType="blank"
          (click)="configureShortcut(shortcut)">
        <ng-icon name="heroCog8ToothSolid" size="1rem"></ng-icon>
      </sn-button>
    </div>
  </div>   
</ng-container>

