<ng-container *ngIf="topic; else noTopicTemplate">
  <div class="card card-body document-builder-topic-container">
    <div class="document-builder-topic-container-title">
      <h4 class="font-weight-bold text-primary">{{ topic?.title || '' }}</h4>
      <div class="document-builder-topic-container-actions">
        <span class="text-dark">
          <i class="far fa-clone"></i>
        </span>
        <span class="text-dark">
          <i class="fas fa-expand-arrows-alt"></i>
        </span>
      </div>
    </div>
    <p class="text-dark font-italic">{{ topic?.synopsis || '' }}</p>
    <ng-container *ngIf="topic?.sections?.length; else noSectionsTemplate">
      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let section of topic.sections">
          <sn-document-builder-section-container [section]="section"></sn-document-builder-section-container>
        </li>
      </ul>
    </ng-container>
  </div>
</ng-container>


<ng-template #noSectionsTemplate>
  <sn-empty-data message="No sections to display"></sn-empty-data>
</ng-template>

<ng-template #noTopicTemplate>
  <sn-empty-data 
      message="No topic to display.  Please search and select one!">
  </sn-empty-data>
</ng-template>
