<div *ngIf="(recentTopics$ | async) && (todaysEvents$ | async)" class="flex flex-row h-full w-full" [@fadeAnimation]>
  
  <!-- Todays Events Card -->
  <div class="grow basis-1 w-1/3 border-r">
    <h4 class="font-bold text-primary-500 border-b p-4 text-xl">Todays Events</h4>
    <sn-user-todays-calendar-events-list
        class="border-b"
        [events]="todaysEvents$ | async">
    </sn-user-todays-calendar-events-list>
  </div>
  <!-- Todo Lists -->
  <div class="grow basis-1 w-1/3 border-r">
    <h4 class="font-bold text-primary-500 border-b p-4 text-xl">Todays Todo Lists</h4>
    <sn-user-todays-todo-lists-list
        [todoLists]="todaysTodoLists$ | async">
    </sn-user-todays-todo-lists-list>

    <h4 class="font-bold text-primary-500 border-b p-4 text-xl">Past Due Todo Lists</h4>
    <sn-user-past-due-todo-lists-list
        [todoLists]="pastDueTodoLists$ | async">
    </sn-user-past-due-todo-lists-list>
  </div>
  <!-- Recent Topics -->
  <div class="grow basis-1 w-1/3">
    <h4 class="font-bold text-primary-500 border-b p-4 text-xl">Recently Updated Topics</h4>
    <sn-user-recent-topics-list
        [topics]="recentTopics$ | async">
    </sn-user-recent-topics-list>
  </div>
</div>
