<div *ngIf="!(isPageLoading$ | async) && (recentTopics$ | async) && (todaysEvents$ | async)" class="container-navbar-adjust container-fluid p-0 m-0 height-full" [@fadeAnimation]>
  <div class="row m-0 p-0 height-full">
    <!-- Todays Events Card -->
    <div class="col-sm-12 col-md-12 col-lg-4 m-0 p-0 border-right-1">
      <h4 class="font-weight-bold text-primary border-bottom-1 p-3">Todays Events</h4>
      <sn-user-todays-calendar-events-list
          [events]="todaysEvents$ | async">
      </sn-user-todays-calendar-events-list>
    </div>
    <!-- Todo Lists -->
    <div class="col-sm-12 col-md-12 col-lg-4 m-0 p-0 border-right-1">
      <h4 class="font-weight-bold text-primary border-bottom-1 p-3">Todays Todo Lists</h4>
      <sn-user-todays-todo-lists-list
          [todoLists]="todaysTodoLists$ | async">
      </sn-user-todays-todo-lists-list>

      <h4 class="font-weight-bold text-primary border-bottom-1 p-3">Past Due Todo Lists</h4>
      <sn-user-past-due-todo-lists-list
          [todoLists]="pastDueTodoLists$ | async">
      </sn-user-past-due-todo-lists-list>
    </div>
    <!-- Recent Topics -->
    <div class="col-sm-12 col-md-12 col-lg-4 m-0 p-0">
      <h4 class="font-weight-bold text-primary border-bottom-1 p-3">Recently Updated Topics</h4>
      <sn-user-recent-topics-list
          [topics]="recentTopics$ | async">
      </sn-user-recent-topics-list>
    </div>
  </div>
</div>
