<div class="document-builder-section-container">
  <div class="document-builder-section-container-title">
    <h5 class="text-gray-700 font-bold text-md">{{ documentTopicSection?.section?.title || '' }}</h5>
    <div class="document-builder-section-container-actions">
      <span class="text-gray-700 me-2" cdkDragHandle>
        <ng-icon name="heroArrowsPointingOut" size="1.25rem"></ng-icon>
      </span>
      <span 
          class="text-gray-700"
          mwlConfirmationPopover
          placement="left"
          (confirm)="removeSection(documentTopicSection)">
        <ng-icon name="heroTrash" size="1.25rem"></ng-icon>
      </span>
    </div>
  </div>
  <p class="text-gray-500 italic text-xs">{{ documentTopicSection?.section?.synopsis || '' }}</p>
</div>
