<div [@fadeAnimation]>
  <sn-section-header 
      snTitle="Accounts"
      snExtraClasses="border-b"
      [snExtraContent]="plansTitleExtraContent">
    <ng-template #plansTitleExtraContent>
      <button 
          sn-button
          snType="outline"
          (click)="onCreate()"
          role="button">
        <ng-icon class="mr-1" name="heroDocument" size="1rem"></ng-icon>
        New
      </button>
    </ng-template>
  </sn-section-header>
  <sn-admin-accounts-table
      [accounts]="(searchAccountsResult$ | async)?.elements"
      (onEdit)="onEdit($event)"
      (onDelete)="onDelete($event)">
  </sn-admin-accounts-table>
  <div class="p-3 border-b">
    <sn-paginator
        [page]="(searchAccountsResult$ | async)"
        (onNextPage)="onGoToPage($event)"
        (onPreviousPage)="onGoToPage($event)"
        (onGoToPage)="onGoToPage($event)">
    </sn-paginator>
  </div>
</div>

<sn-drawer
    [drawerLocation]="DrawerLocation.RIGHT">
</sn-drawer>