<div class="flashcard-set-viewer-controls">
  <span class="control" (click)="first()">
    <i class="fas fa-angle-double-left"></i>
  </span>
  <span class="control" (click)="previous()">
    <i class="fas fa-chevron-left"></i>
  </span>
  <span class="control" (click)="random()">
    <i class="fas fa-random"></i>
  </span>
  <span class="control" (click)="flip()">
    <i class="fas fa-sync-alt"></i>
  </span>
  <span class="control" (click)="next()">
    <i class="fas fa-chevron-right"></i>
  </span>
  <span class="control" (click)="last()">
    <i class="fas fa-angle-double-right"></i>
  </span>
</div>
