<div class="document-builder-document-container">
  <div
      class="document-builder-document-container-topics"
      cdkDropList
      [id]="''+(document$ | async)?.id"
      [cdkDropListData]="(document$ | async)?.documentTopics"
      [cdkDropListConnectedTo]="(documentId$ | async)"
      (cdkDropListDropped)="dropTopic($event)">
    <ng-container *ngIf="(document$ | async)?.documentTopics?.length; else noTopicsInDocumentTemplate">
      <div *ngFor="let documentTopic of (document$ | async)?.documentTopics" class="mb-3">
        <sn-document-builder-document-topic [documentTopic]="documentTopic"></sn-document-builder-document-topic>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #noTopicsInDocumentTemplate>
  <sn-empty-data 
      message="There are no topics yet for this document">
  </sn-empty-data>
</ng-template>
