<div class="px-4 py-2">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
    <div *ngIf="message" [@showHide] class="alert alert-success">
      {{ message.message }} <br />
      <strong>Filename: </strong>{{ file.filename }}
    </div>
    <div class="form-group mb-4">
      <label for="format">Export Format</label>
      <select class="form-control" id="format" name="format" formControlName="format">
        <option value="pdf">PDF</option>
        <option value="html">HTML</option>
        <option value="md">MD</option>
        <option value="docx">DOCX</option>
      </select>
    </div>
    <div class="form-group mb-4">
      <label>Includes</label>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="include-topic-title" formControlName="includeTopicTitle">
        <label class="form-check-label" for="include-topic-title">
          Topic Title
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="include-topic-synopsis" formControlName="includeTopicSynopsis">
        <label class="form-check-label" for="include-topic-synopsis">
          Topic Synopsis
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="include-section-title" formControlName="includeSectionTitle">
        <label class="form-check-label" for="include-section-title">
          Section Title
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="include-section-synopsis" formControlName="includeSectionSynopsis">
        <label class="form-check-label" for="include-section-synopsis">
          Section Synopsis
        </label>
      </div>
    </div>
    <div class="form-group text-right">
      <button class="btn btn-primary mr-2" type="submit">Export</button>
      <button class="btn btn-secondary" (click)="onClose()">Close</button>
    </div>
  </form>
</div>
