<div class="flashcard-set-viewer">
  <div class="flashcard-set-viewer-card">
    <div class="flashcard-set-view">
      <div class="flashcard-set-details">
        <sn-user-flashcard-set-viewer-header 
            [flashcardSet]="flashcardSet"
            [flashcard]="(currentFlashcard$ | async)">
        </sn-user-flashcard-set-viewer-header>
      </div>
      <ng-container *ngIf="flashcardSet?.flashcards?.length; else noFlashcardToDisplay">
        <div class="flashcard-set-flipper mb-3">
          <sn-user-flashcard-set-viewer-flipper
              [isFlipped]="isCurrentFlashcardFlipped"
              [flashcard]="(currentFlashcard$ | async)">
          </sn-user-flashcard-set-viewer-flipper>
        </div>
        <div class="flashcard-set-viewer-controls">
          <sn-user-flashcard-set-viewer-controls></sn-user-flashcard-set-viewer-controls>
        </div>
      </ng-container>
    </div>    
  </div>
</div>

<ng-template #noFlashcardToDisplay>
  <sn-user-flashcard>
    <sn-user-empty-data 
        [message]="'No flashcard(s) to display!'">
    </sn-user-empty-data>
  </sn-user-flashcard>
</ng-template>
