<div *ngIf="(section$ | async)" [@fadeAnimation] class="editor container-navbar-adjust">
  <div class="editor-left">
    <angular-markdown-editor
        textareaId="section-editor-area" 
        name="markdownText" 
        [(ngModel)]="sectionNotes"
        (onFullscreenExit)="hidePreview()"
        (onChange)="onSectionNotesChangeKeyUp($event)">
    </angular-markdown-editor>
  </div>
  <div class="editor-right">
    <div class="editor-markdown-preview">
      <markdown [data]="sectionNotes"></markdown>
    </div>
  </div>
</div>
