<div class="calendar-integration">
  {{ integration?.name || 'testing' }}
  <div class="float-right">
    <ng-container *ngIf="integration?.calendarIntegrations?.length > 0; else createIntegrationTemplate">
      <ng-container *ngIf="isTokenExpired(integration?.calendarIntegrations[0].expiresAt); else tokenIsActiveTemplate">
        <span 
            class="btn btn-sm btn-outline-dark btn-border-none" 
            (click)="refreshIntegration(integration?.calendarIntegrations[0])">
          <i class="fas fa-sync-alt"></i> 
        </span>
        <span class="badge badge-warning mr-1">EXPIRED</span>
      </ng-container>
      <ng-template #tokenIsActiveTemplate>
        <span class="badge badge-success mr-1">ACTIVE</span>
      </ng-template>
      <span 
          class="btn btn-sm btn-outline-dark btn-border-none" 
          (click)="inactivateIntegration(integration?.calendarIntegrations[0])">
        <i class="fas fa-unlink"></i> 
      </span>
    </ng-container>
    <ng-template #createIntegrationTemplate>
      <span class="badge badge-dark mr-1">INACTIVE</span>
      <span class="btn btn-sm btn-outline-dark btn-border-none">
        <i class="fas fa-link"></i> 
      </span>
    </ng-template>
  </div>
</div>