<fieldset [formGroup]="form">
  <!-- Title Field Input -->
  <div class="form-group">
    <label for="title">Title</label>
    <input
        class="form-control"
        type="text" name="title"
        formControlName="title"
        [ngClass]="{'is-invalid':!form.controls['title'].valid && form.controls['title'].touched  }" />
  </div>

  <!-- Synopsis Field Input -->
  <div class="form-group">
    <label for="synopsis">Synopsis</label>
    <textarea
        class="form-control"
        name="synopsis"
        formControlName="synopsis"
        [ngClass]="{'is-invalid':!form.controls['synopsis'].valid && form.controls['synopsis'].touched  }">
    </textarea>
  </div>
</fieldset>