<div *ngIf="!events || events.length === 0" class="events-no-data p-3 border-bottom-1">
  <sn-empty-data 
      message="No calendar events today!"
      [extraContent]="createNewButton">
  </sn-empty-data>
  <ng-template #createNewButton>
    <a [routerLink]="['../calendar']" class="btn btn-success text-light">Create an event</a>
  </ng-template>
</div>
<ng-container *ngIf="events">
  <div *ngFor="let event of events" class="border-bottom-1 p-3">
    <div class="list-details">
      <div class="list-details-title">
        <h5 class="text-primary p-0 m-0">
          <span class="color-swatch mr-1" style="background-color: rgb(232, 62, 140);"></span>{{ event.title }}
        </h5>
      </div>
      <p class="list-details-timestamp text-dark p-0 m-0">
        <i class="far fa-clock"></i>&nbsp;&nbsp; {{ event.startDateTime | date:'shortTime' }}
      </p>
      <p class="list-details-timestamp text-dark p-0 m-0">
        <i class="far fa-calendar"></i>&nbsp;&nbsp; {{ event.startDateTime | date:'shortDate' }}
      </p>
      <p class="list-details-description text-dark font-italic p-0 m-0">{{ event.description }}</p>
    </div>
  </div>
</ng-container>
