<sn-toolbar>
  <sn-toolbar-button-group>
    <span 
        snToolbarButton 
        (click)="onPreviousRoute()">
      <ng-icon name="heroArrowSmallLeft" size="1.2rem"></ng-icon>
    </span>
    <span 
        snToolbarButton 
        (click)="onNextRoute()">
      <ng-icon name="heroArrowSmallRight" size="1.2rem"></ng-icon>
    </span>
  </sn-toolbar-button-group>
  <sn-toolbar-button-group>
    <span 
        snToolbarButton 
        (click)="onCreateUserAccount()">
      <ng-icon name="heroArrowSmallRight" size="1.2rem"></ng-icon>
    </span>
  </sn-toolbar-button-group>
</sn-toolbar>

<sn-drawer
    [drawerLocation]="SnDrawerLocation.RIGHT">
</sn-drawer>

<!-- <ng-keyboard-shortcuts 
    [shortcuts]="shortcuts">
</ng-keyboard-shortcuts> -->
