.empty-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;

  .empty-data-icon {
    font-size: 3rem;
    margin-bottom: 0.8rem;
  }

  .empty-data-message {
    font-size: 1rem;
    margin-bottom: 0.8rem;  
  }
}