<div class="flex flex-row p-0 m-0 h-full flex-wrap content-start" [@fadeAnimation]>
    <div class="md:h-full w-full xs:w-full sm:w-full md:w-1/2 lg:w-1/4 md:border-r">
      <sn-section-header 
          snTitle="Settings"
          snExtraClasses="border-b py-4">
      </sn-section-header>
      <sn-admin-settings-navigation [links]="links"></sn-admin-settings-navigation>
    </div>
    <div class="xs:w-full w-full sm:w-full md:w-1/2 lg:w-3/4">
      <router-outlet></router-outlet>
    </div>
</div>
