<div *ngIf="(topic$ | async)" [@fadeAnimation] class="container-navbar-adjust container">
  <div class="row">

    <!-- Topic Details List -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mb-4">
      <ul class="list-group">
        <li class="list-group-item bg-secondary topic-details-heading">
          <legend>{{ (topic$ | async).title }}</legend>
          <p>{{ (topic$ | async).synopsis }}</p>
          <button [routerLink]="['../edit']" role="button" class="topic-details-edit-button btn btn-sm btn-secondary btn-border-none">
            <span class="oi oi-pencil oi-margin"></span>
          </button>
        </li>
        <li class="list-group-item">
          Created: <span class="float-sm-right badge badge-dark">{{ (topic$ | async).createdAt | date:short }}</span>
        </li>
        <li class="list-group-item">
          Modified: <span class="float-sm-right badge badge-dark">{{ (topic$ | async).updatedAt| date:short }}</span>
        </li>
      </ul>
    </div>

    <!-- Sections List -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">

      <!-- Section Table -->
      <div  class="card">
        <div *ngIf="(topic$ | async)?.sections && (topic$ | async)?.sections.length > 0" class="card-body">
          <h5>
            Sections
            <!-- Header Buttons -->
            <span class="float-right">
              <button [routerLink]="['../sections', 'create']" role="button" class="btn btn-sm btn-outline-dark btn-border-none">
                <span class="oi oi-document oi-margin"></span>
                New
              </button>
              <button role="button" class="btn btn-sm btn-outline-dark btn-border-none" (click)="onOpenExportModal()">
                <span class="oi oi-external-link oi-margin"></span>
                Export
              </button>
            </span>
          </h5>
          <sn-section-list
              [sections]="(topic$ | async)?.sections"
              (onDelete)="onDeleteSection($event)">
          </sn-section-list>
        </div>

        <!-- No Sections Alert -->
        <div *ngIf="(topic$ | async)?.sections && (topic$ | async)?.sections.length === 0" class="card-body">
          <div class="alert alert-secondary">
            <h3>Message</h3>
            <p>You currently do not have any <strong>Sections</strong> started.</p>
            <button class="btn btn-lg btn-success" [routerLink]="['../sections','create']">Start A New Section</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<sn-modal>
  <div container="modalHeader"><h4 class="mb-0">Export Topic</h4></div>
  <sn-topic-export-modal
      container="modalBody"
      [topic]="(topic$ | async)"
      [message]="(exportTopicResponseMessage$ | async)"
      [file]="(exportTopicFile$ | async)"
      (onExportTopic)="onExportTopic($event)">
  </sn-topic-export-modal>
</sn-modal>