<ng-container [formGroup]="form.get('account')">
  <div class="flex flex-col w-full justify-center mb-3">
    <label class="text-gray-500 text-xs mb-1 ps-1" for="plan">Plan</label>
    <ng-container *ngIf="plans">
      <select 
          class="border py-2 px-4 bg-white rounded-full text-sm focus:outline-none focus:border-gray-400 text-gray-700"
          formControlName="plan"
          [ngClass]="{ 'is-invalid':!form.get('account').get('plan').valid && form.get('account').get('plan').touched  }">
        <option *ngFor="let plan of plans"
            [value]="plan.id">
          {{ plan.name }}
        </option>
      </select>
    </ng-container>
  </div>
</ng-container>