<div class="user-details-card border-all-1">
  <!-- Avatar -->
  <div class="user-details-avatar p-4 m-0 border-right-1">
    <img src="assets/images/default-avatar.svg" class="" />
  </div>

  <!-- Details -->
  <div class="user-details-details p-3 m-0">
    <h3 class="text-center font-weight-bold">{{ profile?.firstName }} {{ profile?.lastName }}</h3>
    <h5 class=" text-center text-sm text-dark font-style-italic">{{ profile?.email }}</h5>
    <div class="text-center"><span class="badge badge-success badge-pill">Active</span></div>
  </div>

</div>