<div class="border flex flex-row items-center">
  <!-- Avatar -->
  <div class="border-r p-10">
    <img src="assets/images/default-avatar.svg" class="" />
  </div>

  <!-- Details -->
  <div class="grow self-center">
    <h3 class="text-center font-bold text-2xl">{{ profile?.firstName }} {{ profile?.lastName }}</h3>
    <h5 class=" text-center text-sm text-gray-500 italic mb-3">{{ profile?.email }}</h5>
    <div class="text-center"><span class="py-1 px-2 text-xs bg-primary-500 text-white rounded-full">Active</span></div>
  </div>

</div>