<div class="row">
  <div class="col-sm-12 px-4">
    <h3 class="font-weight-bold text-primary text-right mb-3">
      {{ (documentMarkdown$ | async)?.document?.name || 'Document Preview' }}
    </h3>
    <hr style="margin-bottom: 0;" />
    <sn-toolbar *ngIf="documentMarkdown$ | async as documentMarkdown">
      <sn-toolbar-button-group *ngIf="(responseMessage$ | async)" [@showHide]>
        <span snToolbarButton>
          {{ (responseMessage$ | async)?.message }}
        </span>
      </sn-toolbar-button-group>
      <sn-toolbar-button-group style="margin-left: auto;">
        <span snToolbarButton>
          <i class="fab fa-markdown" (click)="exportToMarkdown(documentMarkdown?.document)"></i>
        </span>
        <span snToolbarButton>
          <i class="fas fa-file-pdf" (click)="exportToPdf(documentMarkdown?.document)"></i>
        </span>
        <span snToolbarButton (click)="refreshDocument(documentMarkdown?.document)">
          <i class="fas fa-sync"></i>
        </span>
      </sn-toolbar-button-group>
    </sn-toolbar>
    <br />
    <ng-container *ngIf="!isLoading && (documentMarkdown$ | async)?.markdown; else loadingTemplate">
      <markdown 
          [@fadeAnimation]
          class="markdown-body" 
          [data]="(documentMarkdown$ | async)?.markdown">
      </markdown>
    </ng-container>
  </div>
</div>

<ng-template #loadingTemplate>
  <div class="loading-document-preview">
    <sn-user-loading-spinner></sn-user-loading-spinner>
  </div>
</ng-template>