.logout-container {
  width: 100vh;
  height: 100vh;
  position: relative;

  .logout-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    margin-bottom: 72px;
    text-align: center;
  }
}
