<div class="card card-body" [@fadeAnimation]>
  <h1 class="password-reset-title">Reset Your Pasword</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
    <!-- Feedback Alert-->
    <div class="alert alert-success"
        *ngIf="(passwordResetResult$ | async)">
      {{ (passwordResetResult$ | async).message }}
    </div>

    <!-- Password Input -->
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" formControlName="password" name="password" type="password" id="password">
    </div>
    
    <!-- Password Confirm Input -->
    <div class="form-group">
      <label for="passwordConfirm">Confirm Password</label>
      <input class="form-control" formControlName="passwordConfirm" name="passwordConfirm" type="password" id="passwordConfirm">
    </div>

    <!-- Submit Button -->
    <div>
      <button 
          class="col-sm-12 btn btn-primary mt-2"
          [disabled]="form.invalid">
        Request Password Reset
      </button>
    </div>
  </form>
  <p class="password-reset-sign-on-link">Or <a [routerLink]="['/auth', 'login']">sign in!</a></p>
</div>
