<h5 class="text-gray-700 font-bold text-xl mt-2">Edit Flashcards</h5>
<hr class="mb-2 mt-2" />
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate id="test">
  <div class="flex flex-col justify-center grow w-full mb-3">
    <label class="text-gray-500 text-xs mb-1 ps-1">Front Content</label>
    <div class="border border-r-0">
      <textarea
          snMarkdownEasymde
          formControlName="frontContent">
      </textarea>
    </div>
  </div>
  <div class="flex flex-col justify-center grow w-full mb-3">
    <label class="flex flex-col justify-center grow w-full mb-3">Back Content</label>
    <div class="border border-r-0">
      <textarea
          snMarkdownEasymde
          formControlName="backContent">
      </textarea>
    </div>
  </div>
  
  <div class="form-group text-right">
    <button 
        class="cursor-pointer border border-primary-500 hover:bg-white bg-primary-500 text-white hover:text-primary-500 font-bold transition-colors rounded-full py-1 px-2 text-xs me-1" 
        role="button" 
        type="submit">
      Update
    </button>
    <button 
        class="cursor-pointer border border-primary-500 hover:bg-primary-500 text-primary-500 hover:text-white font-bold transition-colors rounded-full py-1 px-2 text-xs" 
        role="button" 
        type="button"
        (click)="onCancel()">
      Cancel
    </button>
  </div>
</form>
