<div *ngIf="!todoLists || todoLists.length === 0" class="documents-no-data p-3 border-bottom-1">
  <sn-empty-data 
      message="No todo lists found!"
      [extraContent]="createNewButton">
  </sn-empty-data>
  <ng-template #createNewButton>
    <sn-button 
        snType="outline"
        (click)="create()" >
      Create a todo list
    </sn-button>
  </ng-template>
</div>

<sn-list *ngIf="todoLists">
  <sn-list-item *ngFor="let todoList of todoLists" snExtraClasses="border-b">
    <sn-list-item-title [snExtraContent]="todoListTitleExtraContentTemplate">
      <a sn-link [routerLink]="[]">{{ todoList?.title | titlecase }}</a>
      <ng-template #todoListTitleExtraContentTemplate>
        <div class="flex flex-row gap-1 items-center">
          <sn-button 
              snType="blank"
              (click)="edit(todoList)">
            <ng-icon name="heroPencil" size="1rem"></ng-icon>
          </sn-button>
          <sn-button 
              snType="blank"
              (click)="view(todoList)">
            <ng-icon name="heroEye" size="1rem"></ng-icon>
          </sn-button>
          <sn-button 
              snType="blank"
              mwlConfirmationPopover
              placement="left"
              (confirm)="delete(todoList.id)">
            <ng-icon name="heroTrash" size="1rem"></ng-icon>
          </sn-button>
        </div>
      </ng-template>
    </sn-list-item-title>
    <sn-list-item-footer>
      <span class="flex items-center mr-4">
        <ng-icon name="heroCalendarDays" size="0.8rem"></ng-icon>&nbsp;{{ todoList?.startedBy | date: 'MM/dd/yyyy' }} - {{ todoList?.completedBy | date: 'MM/dd/yyyy' }}
      </span>
      <span class="flex items-center">
        <ng-icon name="heroClock" size="0.8rem"></ng-icon>&nbsp;&nbsp;{{ todoList.updatedAt | date:'medium' }}
      </span>
    </sn-list-item-footer>
  </sn-list-item>
</sn-list>
