.document-builder-topic-container {
  position: relative;
  z-index: 1005;

  .document-builder-topic-container-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .document-builder-topic-container-actions {
    display: flex;
    flex-direction: row;
    
    span {
      margin-right: 0.5rem;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.document-builder-section-container {
  .document-builder-section-container-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .document-builder-section-container-actions {
      display: flex;
      flex-direction: row;

      span {
        margin-right: 0.5rem;
        cursor: pointer;
        
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.document-builder-section-drag-preview {
  padding: 1rem;
  background: white;
  border: 1px solid #d9d9d9;
}