<div *ngIf="!topics || topics.length === 0" class="topics-no-data p-3 border-b">
  <sn-empty-data 
      message="No recent topics to display!"
      [extraContent]="createNewButton">
  </sn-empty-data>
  <ng-template #createNewButton>
    <a [routerLink]="['../topics']" class="bg-white border border-primary-500 mt-4 py-2 px-4 hover:bg-primary-500 hover:text-white transition-colors rounded-full text-primary-500 font-semibold mb-2">View topics</a>
  </ng-template>
</div>

<sn-list *ngIf="topics">
  <sn-list-item *ngFor="let topic of topics" snExtraClasses="border-b">
    <sn-list-item-title [snExtraContent]="topicTitleExtraContentTemplate">
      <a class="hover:text-primary-700" [routerLink]="['/topics', topic.id, 'details']">{{ topic?.title | titlecase }}</a>
      <ng-template #topicTitleExtraContentTemplate>
        <div class="flex flex-row gap-1 items-center">
          <sn-button
              snType="blank"
              [routerLink]="['/topics', topic.id, 'details']">
            <ng-icon name="heroEye" size="1rem"></ng-icon>
          </sn-button>
        </div>
      </ng-template>
    </sn-list-item-title>
    <sn-list-item-subtitle>{{ topic?.synopsis }}</sn-list-item-subtitle>
    <sn-list-item-footer>
      <ng-icon name="heroClock" size="0.8rem"></ng-icon>&nbsp;&nbsp; {{ topic.updatedAt | date:'medium' }}
    </sn-list-item-footer>
  </sn-list-item>
</sn-list>
