<div class="p-4">
  <ng-container [ngSwitch]="calendarEventView">
    <ng-container *ngSwitchCase="'display'">
      <sn-user-calendar-event-details
          [event]="data$ | async">
      </sn-user-calendar-event-details>
      <div class="form-group text-right mx-2">
        <button 
            class="border border-primary-500 hover:bg-white bg-primary-500 text-white hover:text-primary-500 font-bold transition-colors rounded-full py-2 px-4 text-xs me-1" 
            type="button" 
            (click)="onEdit()">
          Edit
        </button>
        <button 
            mwlConfirmationPopover
            placement="left"
            (confirm)="onDelete()"
            class="border border-primary-500 hover:bg-primary-500 text-primary-500 hover:text-white font-bold transition-colors rounded-full py-2 px-4 text-xs me-1" 
            type="button">
          Delete
        </button>
        <button 
              (click)="onCancel()"
              class="border border-primary-500 hover:bg-primary-500 text-primary-500 hover:text-white font-bold transition-colors rounded-full py-2 px-4 text-xs me-1" 
              type="button">
            Cancel
          </button>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'edit'">
      <form [formGroup]="form" (ngSubmit)="onUpdate(form.value)" novalidate>
        <sn-user-calendar-event-update 
            [event]="data$ | async"
            [responseMessage]="responseMessage$ | async">
        </sn-user-calendar-event-update>
        <div class="form-group text-right mx-2">
          <button 
              class="border border-primary-500 hover:bg-white bg-primary-500 text-white hover:text-primary-500 font-bold transition-colors rounded-full py-2 px-4 text-xs me-1" 
              type="submit">
            Save
          </button>
          <button 
              (click)="onEdit()"
              class="border border-primary-500 hover:bg-primary-500 text-primary-500 hover:text-white font-bold transition-colors rounded-full py-2 px-4 text-xs me-1" 
              type="button">
            Cancel
          </button>
        </div>
      </form>
    </ng-container>
  </ng-container>
</div>