<div class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <ul class="nav navbar-nav navbar-menu-btn">
      <li class="nav-item">
        <a class="nav-link" (click)="toggleSideNav()">
          <i class="fas fa-bars"></i>
        </a>
      </li>
    </ul>

    <!-- Navbar Brand -->
    <a [routerLink]="['/']" class="navbar-brand mr-auto">
      <img src="assets/images/simple-notes-logo.svg" width="30" height="30" alt="">
      <span class="brand-text">Simple Notes</span>
    </a>

    <!-- Navbar Lists -->
    <div class="collapse navbar-collapse">
      <!-- Nav Buttons Right -->
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['./calendar']">
            <div class="btn btn-outline-secondary my-2 my-sm-0">
              <i class="far fa-calendar-alt icon-margin"></i>
              View Calendar
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['./topics', 'create']">
            <div class="btn btn-outline-secondary my-2 my-sm-0">
              <i class="fas fa-edit icon-margin"></i>
              Create New Topic
            </div>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="assets/images/default-avatar.svg" class="img-fluid" style="height: 36px" />
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['accounts', 'details']">
              <i class="far fa-user-circle icon-margin"></i>
              My Account Details
            </a>
            <a class="dropdown-item" [routerLink]="['/auth', 'logout']">
              <i class="fas fa-unlock-alt icon-margin"></i>
              Logout
            </a>
          </div>
        </li>
      </ul>
    </div>
    
  </div>
</div>
<sn-drawer
    [drawerLocation]="DrawerLocation.RIGHT">
</sn-drawer>