<!-- Modal backdrop -->
<div
    class="modal-backdrop fade"
    [ngClass]="{'show d-block': options.isShown, 'd-none': !options.isShown }">
</div>
<!-- End Modal backdrop -->

<!-- Modal dialog -->
<div id="myModal" class="modal fade" [ngClass]="{'show d-block': options.isShown, 'd-none': !options.isShown }">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Export Topic</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="confirm(false)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- TODO: FIX FORM TO SELECT EXPORT FILE TYPE -->
        <form>
          <fieldset>
            <legend><h6>Format</h6></legend>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="export-type" id="export-type-pdf" value="pdf" checked>
              <label class="form-check-label bg-secondary" for="export-type-pdf">
                Pdf
              </label>
            </div>

          </fieldset>
        </form>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-sm btn-success" [disabled]="options.isBusy ? true : false" (click)="confirm(true)">
          <!-- <sn-spinner [isSpinning]="options.isBusy"></sn-spinner> -->
          Export
        </button>
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" (click)="confirm(false)">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal dialog -->
