.form-check {
  position: relative;
  padding-left: 0;
}

.form-check > input[type="radio"] {
  widht: 0;
  visibility: hidden;
}

.form-check > label {
  padding: 8px 16px 8px 36px;
  display: block;
  position: relative;
  margin-bottom: 8px;
}

.form-check > label:before {
  position: absolute;
  left: 8px;
  content: '';
  display: inline-block;
  width: 16px;
  background: #FFF;
  border-radius: 16px;
  text-align: center;
  width: 22px;
  height: 22px;
}

.form-check > input[type="radio"]:checked + label:before {
  content: '\2716';

}
