<sn-toolbar>
  <sn-toolbar-button-group>
    <span snToolbarButton (click)="onPreviousRoute()">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span snToolbarButton (click)="onNextRoute()">
      <i class="fas fa-arrow-right"></i>
    </span>
  </sn-toolbar-button-group>
  <sn-toolbar-button-group>
    <span snToolbarButton (click)="onCreateNewTopic()">
      <i class="fas fa-book-medical"></i>
    </span>
    <span snToolbarButton (click)="onCreateNewCalendarEvent()">
      <i class="far fa-calendar-plus"></i>
    </span>
    <span snToolbarButton (click)="onCreateNewDocument()">
      <i class="fas fa-file-medical"></i>
    </span>
    <span snToolbarButton (click)="onSearchTopics()">
      <i class="fas fa-search"></i>
    </span>
  </sn-toolbar-button-group>
</sn-toolbar>

<sn-drawer
    [drawerLocation]="DrawerLocation.RIGHT">
</sn-drawer>

<ng-keyboard-shortcuts 
    [shortcuts]="shortcuts">
</ng-keyboard-shortcuts>

