@import '../toolbar.theme';

@mixin generate-hidden($property, $timing) {
  &.hidden {
    #{$property}: -$toolbar-height - 1;
    transition: $property $timing;
  }
}

:host {
  // General
  &.toolbar-dock {
    color: $toolbar-font-color;
    display: flex;
    flex-direction: row;
    min-height: $toolbar-height;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 2001;
    
    .toolbar-dock-toggler {
      position: absolute;
      padding: 0.3rem 0.8rem;
      border: $toolbar-border;
      background: $toolbar-background-color;
      cursor: pointer;

      &:hover {
        color: darken($toolbar-font-color, 7%);
      }
    }

    .toolbar-dock-content {
      height: $toolbar-height;
      width: 100%;
    }
  }

  // Dock Locations
  &.toolbar-dock-location-top {
    border-bottom: $toolbar-border;
    top: 0;
    transition: top $transition-timing;
    @include generate-hidden(top, $transition-timing);

    .toolbar-dock-toggler {
      border-bottom-left-radius: $toolbar-toggler-radius;
      border-bottom-right-radius: $toolbar-toggler-radius;
      bottom: -33px;
    }
  }

  &.toolbar-dock-location-bottom {      
    border-top: $toolbar-border;
    bottom: 0;
    transition: bottom $transition-timing;
    @include generate-hidden(bottom, $transition-timing);

    .toolbar-dock-toggler {
      border-top-left-radius: $toolbar-toggler-radius;
      border-top-right-radius: $toolbar-toggler-radius;
      top: -33px;
    }
  }

  // Toggler Locations
  &.toolbar-dock-toggler-location-start {
    .toolbar-dock-toggler {
      left: 2rem;
    }
  }

  &.toolbar-dock-toggler-location-end {
    .toolbar-dock-toggler {
      right: 2rem;
    }
  }

  &.toolbar-dock-toggler-location-center {
    .toolbar-dock-toggler {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
